In [ ]:
minced = True
bread = True

#green
lettuce = False
pepper = False

store = True

In [ ]:
minced = True
bread = True

#green
lettuce = True
pepper = False

store = True

In [ ]:
hamburger = (minced and store and bread) and (lettuce or pepper)  # Task da olmazsa olmazlar True denildi ve and parametresi ile 
                                                                # baglandi cunku neticesini True istiyoruz Bir tane false olsa netice 
                                                                # false olur

In [ ]:
hamburger

In [ ]:
if hamburger : 
    print("Bon Apetite")

In [ ]:
print(1 == 1)
print(12 > 12.1)
print("Akif" == "Orhan")
print(15 <= 25)
print(25 != 15)

#### Task 
Create  two sets ( using set() function with the given srting values below
Compare tehese sets and print out "We are the same!"if they are equal, do nothing if they are not.

"Twelveplus one"
"Eleven Plus Two"

In [ ]:
x = set("Twelve plus one").
y = set("Eleven Plus two")

x == y

In [ ]:
sayilar = [7,22,3,8,5,7,3]  # sum()fonksiyonu toplama yapar 
print(sum(sayilar))

In [ ]:
meyveler = ["apple", "banana", "cherry"]
for meyve in meyveler:
  print(meyve)

In [ ]:
count = list(range(15))  # range ile siralama yaptik
print(count)

print(count[2:16:2])

### TASK : write python program to Find the Largest Among Three Numbers
Write a program that prints which of the three numbers the users entered is tehe largest
print the  result such as :"The largest number is 4"   

( SORUN: Üç Sayı Arasında En Büyük Olanı Bulmak için python programı yazın
Kullanıcıların girdiği üç sayıdan hangisinin en büyük olduğunu yazdıran bir program yazın
sonucu şu şekilde yazdırın: "En büyük sayı 4")

In [ ]:
number1 = int(input("Enter the first number"))
number2 = int(input("Enter the second number"))
number3 = int(input("Enter the third number"))

if(number1 > number2) and (number1 > number2):
    print("The largest number1")
elif(number2 > number1) and (number2 > number3):
    print("The largest number2")
else:
    print("The largest number3")

In [ ]:
number1 = int(input("Enter the first number"))
number2 = int(input("Enter the second number"))
number3 = int(input("Enter the third number"))

if(number1 > number2) and (number1 > number2):
    largest = number1
elif(number2 > number1) and (number2 > number3):
    largest = number2
else:
    largest = number3
    print("The largest number is : " , largest)

###  Task : Write python årogram to check if a Number is Negative, Positive or zero.
Write a program to check whether a numbedr entered by the user is negative, postive or zero
print the result ssuch as :" Negative number" oo " Zero".

In [ ]:
Degre = int(input("What is the wheatre Degre : "))
if Degre < 0:
    degre = "Negative"
elif Degre > 0:
    degre = "Positive"
else:
    degre = 0
print("The wheatre is : ",format(degre))

### Nested if - elif -else
Lets write a program that asks you enter  your exam scoore and calculate is the range in which your degree is basde on your exam score .The output wpuld be :e.g., "Your degre is B+

95 and above --"A+"
90-94 -- "A"
85-89 --"B+"
80-84 --"B"
79 and below --"Below B" or "B"

In [ ]:
score = int(input ("Enter your score : "))

if score >= 90:
    if score >= 95:
        degre = "A+"
    else:
        score = "A"
elif score >= 80:
    if score >=85:
        degre = "B+"
    else:
        degre = "B"
else:
    score = "Below B"

print("Your degre is : ", degre)

### While  /for   loop

In [ ]:
while 0 :    # 0 Falsy oldugu icin dönguye girmez bir siónraki satira gider
    print("bir")
print("iki")

In [ ]:
while[]:
    print("while")
print("outside while")

In [ ]:
number = 0

while number < 6:
    print(number)
    number += 1           # dongunun ne zaman b itecegini belirliyor
print("now, number is bigger or equal to 6")

In [ ]:
my_list = [ "a","b","c","d","e"]
    
a = 0 

while a < len(my_list):
    print("square of {} is : {}".format(a,a**2))
    a += 1

### Task . Take the age  of the user using Input(and while loop

Write a program that;
    Takes the age from users,
    check the age if it is correct the numeric format

In [ ]:
years = int(input("What is your age : "))

age = int

while age == type(int()):
    print("Great! You entered correct age: ", age)
    age = "it is not correct. Entered piease your age : "

In [ ]:
age = input("Enter your age : ")

while not age.isdigit():
    print("You entered incorrectly  : ")

    age = input("Enter your age correctly please : ")
    
print("Great! You entered valid age : ", age )

In [ ]:
"onalti".isdigit()  # stringlere uygulanir sitring icerisine sayisal bir deger girerse True cikartit

In [ ]:
"16.0".isdigit()

In [ ]:
"41".isdigit()

In [ ]:
While True:
    print("Ayvayi yedik yandi gönlum")
    break

###  Task : 
Lets play famous guessing number game using while loop

write a program that;
    Takes theh numbers from user,
    Compares the number entered with the number you assigned and 
    then gives a message "Little lower" or "Little heigher " till the user knows it.

In [ ]:
number = int(input("Enter a number : "))
correct_number = 45

while number != 45:
    print("Your number is correct")

In [ ]:
answer = 28      #  sayiyi bulana kadar sonosuz dönguye sokuyor  bildigimiz zaman break ile cikartiyor

question = "What a two -digit number am I think of? :  "
print("Lets play the guessing game!")

while True:
    guess = int(input(question))
    
    if guess < answer:
        print("Little higher")
    elif guess > answer:
        print("Little lower")
    else:  #   guess == answer
        print("Are you a MINDREADER!!!")
        break

In [ ]:
numbers = [3,5,6,3,3,3,4,4,4,6,8,1,0,2,5,7]

In [ ]:
numbers.count(3)  # saymamiza yariyor

In [ ]:
max(1,2,3)

In [ ]:
empty = []
max(empty, default = True)

In [ ]:
numbers = [3,5,6,3,3,3,4,4,4,6,8,1,0,2,5,7]

In [ ]:
max(numbers)

In [ ]:
numbers.count(8)

In [ ]:
numbers.count(3)

In [ ]:
item = max(numbers, key = numbers.count)  # key numbers in her bir elemanina uygulanir 
                                    # yani her bir elemanini count iel sayar

In [ ]:
numbers.count(item)

In [ ]:
numbers.count(max(numbers, key = numbers.count))

In [ ]:
number = [15,25,3,6,8,6,7,9,9,45,5,6,4,2,1,8,7,9,5,8,4,6,2,5,48]

In [ ]:
max(number)

In [ ]:
number.count(48)

In [ ]:
item =(max(number, key =number.count))

In [ ]:
item

In [ ]:
number.count(item)

### Mevcut Lıstemizi hepsini ayni islemi yaptiracak seye Döngu denir

In [ ]:
liste = [1,2,3,4,5,6]

In [ ]:
print(liste[0])
print(liste[1])
print(liste[2])
print(liste[3])

In [ ]:
for rakam in liste:   # yukardaki ayri ayri yapmaktansa for döngusus ile bu islemi kisa olarak yaptik
    print(rakam)      # rakam for döngusus icerisinde oldugu surece bana yazdir

In [ ]:
for i in liste:
    print(i)

In [ ]:
isim = "Ahmet"

In [ ]:
for harf in isim:
    print(harf)

In [ ]:
for i in isim:
    print(i)

In [ ]:
demet = (1,2,3,4)

In [ ]:
for i in demet:
    print(i)

In [ ]:
for i in range(0,10):   # range fonksiyonu 0 dan 10 a kazdar (10 -1 )sayilari yazdir demek
    print(i)

In [ ]:
for i in range(1,17,2):   # (star stop step)
    print(i)

In [ ]:
sonuc = 1
for i in range(0,10):  # 0 dan 9 dahil e kadar 2 ile carpildi
    sonuc *= 2
print(sonuc)

In [ ]:
liste1 = ["a","b","c"]            # for dönguleri ic ice yazilimi
liste2 = [1,2,3]

for harf in liste1:
    for rakam in liste2:
        print(harf,rakam)

In [ ]:
liste = [1,2,3,4,5,6]   # biz sunu dedik listemizde 3 e gelince atla yazdirma devam et bir sonraki adima gec demek

for i in liste:
    if i ==3:
        continue
    print(i)

In [ ]:
liste = [1,2,3,4,5,6]   # break is e dönduyu sonlandiriyor

for i in liste:
    if i ==3:
        break    
    print(i)

In [ ]:
liste = range(100)   # sayimin 3 e bölumunden kalan 0 dan farkli ise yani3 e tam bölunmuyorsa devam et

In [ ]:
liste = range(100)

for i in liste:
    if i % 3 != 0:
        continue
    if i == 81:
        break
    print(i)

###  While döngusu belirli bir kosul saglandigi surece devam eder

In [ ]:
x = 2

while x < 10:
    print(x)
    x +=1

In [ ]:
x = 4
y = 5

while x * y < 1000:
    print(x,y)
    x +=4
    y +=5

###  100 e kadar olan tek sayilarin while True döngusu ile bulunmasi

In [ ]:
i = 1
while True:
    if i %2 == 0:
        i += 1
        continue
    print(i)
    i += 1
    if i == 100:
        break

In [ ]:
number = 0

while number < 6:
    print(number)
    number += 1
print("now, number is bigger or equal to 6")

In [ ]:
answer = 40       # Tahmin ettigimiz sayiyi bulmasina yönelik program yaptik

question = "What number am I thinking of ? "
print("Lets play the guessing game")

while True:
    guess = int(input(question))
    
    if guess < answer:
        print("Little higher")
    elif guess > answer:
        print("Little lower")
    else:
        print("Are you a MINDREADER!!")
        break

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count1>0 :
    print(flowers[count2])
    count1 -= 1
    count2 += 1

In [ ]:
seasons = ["sprıng","summer","autumun","winter"]

for i in seasons:
    print(i)

In [ ]:
iterable = [1,2,3,4]
for i in iterable:
    square = i**2
    print(i, "squared is" square)    
print("The for loop is complate")

In [ ]:
for n in [0,1,2,3,4,5]:
    square = n**2
    print(n,'squared is',square)
print('The for loop is complete!')

In [ ]:
sentence = int(input("Enter a sentence please: "))

while True:
    if the sentence

In [ ]:
uzunluk = []
kelime = input("lütfen bir cümle giriniz").split()
for i in kelime:
    uzunluk.append(len(i))
print(max(uzunluk))

In [ ]:
sentence = input("Give me a sentence please: ")
words = sentence.split() 
i = 0
longest = 0

while i < len(words):
    if len(words[i]) > longest:
        llongest = len(words[i])
    i += 1
print("the lengt of the longest word is : ", longest)

In [ ]:
"ben bir cumle gvirmis olayim".split()

In [ ]:
sentence = input("give me a sentence :")
words = sentence.split()
i = 0
longest = 0
while i < len(words) :
    if len(words[i]) > longest :
        longest = len(words[i])
    i += 1
print("the lengt of the longest word is :", longest)

In [ ]:
names = [“Ahmed”, “Aisha”, “Adam”, “Joseph”, “Gabriel”]

for i name:
    print("Hello",i)

In [ ]:
sayilar = []

for i in range(1,6):
    sayilar.append(i)
print(sayilar)

In [ ]:
eleman ="ahmet, -clazrusway[]"

In [ ]:
for i in eleman :
    print(i,end ="//")

In [ ]:
word = input("Enter a word") 

count = 0
for i in word:
    count += 0
    if count < len(word):
        i = i + "-"
    print(i,end = "")

### Samanlıkta ıgne aramak

In [ ]:
samanlik = ["yumurta","yaba","igne","saman","tezek","tirmik"]

In [ ]:
print(f"igne {samanlik.index("igne")} numaraliindexte)

In [ ]:
samnanlik.

In [ ]:
v = ("five",5,True)
(x,y,z) = v
print(x,y,z)

In [ ]:
a,b,c, = 1,2,3

In [ ]:
(monday,tuesday,wednesday,thusday,friday,saturday,sunday) = tuple(range(1,8))

In [ ]:
sunday

In [ ]:
print([1,2,3,4] + ["11", "22" + 33])

In [ ]:
tt = (1,2, [1,3,5])

In [ ]:
tt[2].append(4)

In [ ]:
tt

In [ ]:
x,y = (10,20)

In [ ]:
print(x)
print(y)

In [ ]:
a,b = (10,20,30,40)

In [ ]:
a,_,b,_=  (10,20,30,40)   # _ hayali bir degisken

In [ ]:
print(a,b)

In [ ]:
x,y,z = (11,22,33,44,55)

In [ ]:
x,y,*z =(11,22,33,44,55,66)  # * dan dolayi hapsini z nin icine attik list ile

In [ ]:
print(x)
print(y)
print(z)

In [ ]:
x,y,*_=[11,22,33,44,55,66]   # * ile coklu sdegre alabiliyor

In [ ]:
x,y,*z,t = (11,22,33,44,55,66,77)

In [ ]:
print(t)

In [ ]:
print(z)

In [ ]:
x,y,*_,t,w =(11,22,33,44,55,66,77)  # unpacking

In [ ]:
print(t)

In [11]:
isimler = {"ali" : 33,
          "veli" : 44,
          "ayse" : 2}

In [8]:
isimler.items()

dict_items([('ali', 33), ('veli', 44), ('ayse', 2)])

In [14]:
for a,b in isimler.items():
    print(a,b)

ali 33
veli 44
ayse 2

In [15]:
for i in isimler.items:
    print(i)

TypeError: 'builtin_function_or_method' object is not iterable

In [20]:
num = int(input("Enter a number 1 -10 : "))

for i in range(11):
    print("{}x{} = ".format(number,i), number * i)

Enter a number 1 -10 : 5

NameError: name 'number' is not defined

In [ ]:
seq = range()
for o in range

In [21]:
print(* "seperate")  # onemli

s e p e r a t e

In [32]:
isimler = ["tarik","sevda","selim"]
yaslar = [11,22,33]

In [33]:
zip(isimler,yaslar)

In [34]:
xx = zip(isimler,yaslar)

In [27]:
print(list(xx))

[('tarik', 11), ('sevda', 22), ('selim', 33)]

In [35]:
for isim,yas in xx:
    print(isim,yas)  # zip fonksiyonu ile icerisini bir defa actiktan sonra yapabiliyoruz

tarik 11
sevda 22
selim 33

### Find and print the length of the longest word.   ----  En uzun kelimenin uzunlugu ----
write a program that ;

Takes a string sentence consisting of a couple of words from the users,

Compares and find out the longest word and prints the wholle sentence and the length of the longest word as int typen

Use while loop.

(bir program yazın;  Kullanıcılardan birkaç kelimeden oluşan bir dizi cümle alır, 
En uzun kelimeyi karşılaştırır ve bulur ve tüm cümleyi ve en uzun kelimenin uzunluğunu int typen olarak yazdırır

döngü sırasında kullan )

### string.split()   Syringi guruplara ayirir   siplit ; bolunme anlamina geliyor

In [1]:
sentence = input("Give me a sentence : ")

words = sentence.split()
i = 0
longest = 0

while i < len(words):
    if len(words[i]) > longest:
        longest = len(words[i])
    i += 1
    
print("The length of the longest word is : ", longest)

Give me a sentence : Ramazan muberaek olsun herkese
The length of the longest word is :  8

In [2]:
uzunluk = []
kelime = input("lütfen bir cümle giriniz").split()
for i in kelime:
    uzunluk.append(len(i))
print(max(uzunluk))

lütfen bir cümle girinizbeu benim en uzun kelimem
7

In [5]:
sentence = input("Enter sentence: ")
longest = max(sentence.split(), key=len)
print("Longest word is: ", longest)
print("And its length is: ", len(longest))

Enter sentence: beu benim en uzun kelimem
Longest word is:  kelimem
And its length is:  7

In [2]:
"Yeni bir hayat kurmaya calisiyoruz gardass" . split()

['Yeni', 'bir', 'hayat', 'kurmaya', 'calisiyoruz', 'gardass']

In [3]:
"Hayat sizin ile guzel cocukalr".split()

['Hayat', 'sizin', 'ile', 'guzel', 'cocukalr']

In [4]:
"it zahmetli ama neticesi guzel olacak katlanmaya deger".split()

['it', 'zahmetli', 'ama', 'neticesi', 'guzel', 'olacak', 'katlanmaya', 'deger']

In [6]:
for i in[1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [8]:
seasons = ["Spring", "Summer","stumn", "winter"]

for i in seasons:
    print(i)

Spring
Summer
stumn
winter

### Task : Python Program to say "hello name"     

Write a program to say "Hello names " from the followin list.

Print the resault such as : "hello Samuel"
                            "hello Victor"

In [9]:
names = ["Ahmet", "Aisha", "Adam", "Joseph", "Gabriel"]

for i in names:
    print("Hello {}".format(i))

Hello Ahmet
Hello Aisha
Hello Adam
Hello Joseph
Hello Gabriel

In [10]:
names = ["Ramazan", "Meral","Akif", "Orhan", "Nihal"]

for i in names :
    print("Hayirli Ramazanlar {}".format(i))

Hayirli Ramazanlar Ramazan
Hayirli Ramazanlar Meral
Hayirli Ramazanlar Akif
Hayirli Ramazanlar Orhan
Hayirli Ramazanlar Nihal

## Task: Python program to create numbers usong range()

write a program to create a list consisting of numbers from 1 to 5 

print the result such as : [1,2,3,4,5,]

In [11]:
num = list(range(1,6))
print(num)

[1, 2, 3, 4, 5]

In [16]:
sayilar = []   # bos liste olusturup daha sonra onun iscerisini dolduruyoruz  append metodu iel 

for i in range(1,6):
    sayilar.append(i)
    
print(sayilar)

[1, 2, 3, 4, 5]

In [19]:
eleman = "ahmet - claruway[]"

In [20]:
for i in eleman :      #  string bir iterable elman dir.  stringi yani iterabil elemani ayirmis olduk
    print(i, end = "-/-")

a-/-h-/-m-/-e-/-t-/- -/---/- -/-c-/-l-/-a-/-r-/-u-/-w-/-a-/-y-/-[-/-]-/-

In [24]:
print("Bugün günlerden Salı", end=".\n")

Bugün günlerden Salı.

In [ ]:
sentence = "Bugün günlerden Salı"

In [25]:
for i in sentence:
    print(i,end = "**")

b**e**u** **b**e**n**i**m** **e**n** **u**z**u**n** **k**e**l**i**m**e**m**

#### TASK : python program to sperate the string into its characters.

write a program to separate the string taken from thye user into its chractures using for loop
print the result such as 

input :"Clarusway"
desired output : c-l-a-r--u-s-w-ay-

In [27]:
word = "Clarusway"

for i in word:
     print(i,end = "-")

C-l-a-r-u-s-w-a-y-

In [ ]:
"clarusway"

In [28]:
word = input("Give me a word : ")


count = 0
for i in word :
    
    count += 1
    if count < len(word) : 
        i = i + "-"
    print(i, end = "")

Give me a word : Sehri Ramazan
S-e-h-r-i- -R-a-m-a-z-a-n

In [35]:
user = {                        # sözluklerde  dict lerde sadece keyler cikti aliniyor          
        "name" : "Ramazan",
        "surname" : "Kaya",
        "age" : 41
}

for attribute in user:
    print((attribute))

name
surname
age

In [36]:
user = {                                   # sözluklerde   sadece keyler           
        "name" : "Ramazan",
        "surname" : "Kaya",
        "age" : 41
}

for i in user:
    print((i))

name
surname
age

### samanlikta igne arayalim mi ?   Lıstelerde ındexleme methodu

In [5]:
samanlik = ["yumurta", "Yaba", "inek", "igne",  "Saman", "tezek", "tirmik"]

In [15]:
print(f"igne {samanlik.index('igne')} numarali indexte.")

igne 3 numarali indexte.

In [19]:
Evimiz = ["Bilgisayar", "Buzdolabi","Utu","ocak"]

print(f"ocak {Evimiz.index('ocak')} evimizin olmaz ise olmazidir.")

ocak 3 evimizin olmaz ise olmazidir.

In [1]:
kiler = [" yumurta", "peynir","zeytin","yufka"]

In [4]:
print(kiler.index("peynir"))

1

In [7]:
print(f"peynir {kiler.index('peynir')} numarali indexte")

peynir 1 numarali indexte

In [ ]:
kiler.

###  Tupple kullanarak coklu degedr assıgn etmek

In [21]:
v = ("five" , 5, True)    # unpackig ve packin yapiliyor yani Tuple 
                          # icerisindeki degedrlere dha sonra yeni ataamalar yaptik
(x,y,z) = v
print(x,y,z,)

five 5 True

In [8]:
m = ("six", 13, True)

(x,y,z) = m

print(x,y,x)

six 13 six

In [29]:
araba = ("Audi", "Toyota", "Nissan") 
(A,M,Z) = araba
print(A,M,Z)

Audi Toyota Nissan

In [6]:
(sunday, monday, wenesday, thursday, friday, saturday) = tuple(range(1,7))  # degiskenler bir deger atandi ketum olan 
                                                                            # ya for dönguleri ile 
                                                                            # collection ile
                                                                            # ya da * ile görebiliyoruz

In [7]:
sunday    #

1

In [8]:
monday

2

In [41]:
a = 10   # unpacking ile yeniden  degerler atamak ta mumkun 
b = 20

a,b = b,a

a

20

In [42]:
b

10

In [10]:
print([1,2,3,4,5,6] + ["111", "333", "222"])

[1, 2, 3, 4, 5, 6, '111', '333', '222']

In [18]:
a = [1, 2, [3, 4, 5, 6, 11, 333, 222]]

In [19]:
a[2].append(5555)
a

[1, 2, [3, 4, 5, 6, 11, 333, 222, 5555]]

In [22]:
b = [1,2,3,4,5]
b.append(99)
b

[1, 2, 3, 4, 5, 99]

In [28]:
a,b,c,d,e= (10,20,30,40,5,)

In [30]:
c

30

In [41]:
a,b, *z = (10,20,30,40,50,60,70,80,90,100)  # * ile geri kalan butun elemanlar z nin icerisine gidiyor

In [42]:
z

[30, 40, 50, 60, 70, 80, 90, 100]

In [39]:
a,_b_,*_= (10,20,30,40,50,60,70,80,90,100)

In [40]:
b

20

In [48]:
a,b,c,*_,s = ("Elma","armut","tarak","top","esofman","kazak")

In [45]:
a

'Elma'

In [49]:
s

'kazak'

In [9]:
print([1,2,3,4] + ["11", "22", 33])   # iki listeyi + operatoru ile bir birine merge edebiliyoruz

[1, 2, 3, 4, '11', '22', 33]

In [14]:
tt = (1,2, [1,3,5])

In [18]:
tt[2].append(4)

In [20]:
tt

(1, 2, [1, 3, 5, 4, 4, 4])

In [21]:
tt

(1, 2, [1, 3, 5, 4, 4, 4])

### Task this is time write a code block that  asks the users a number between 10 and 10 then puts teht number into the multiplication table 

5x0 = 0
5x1 = 5 
5x2 = 10
5x3 = 15 .... # carpim tablosu hazirlama

In [50]:
 number = int(input("Enter a number between 1 and 10: "))
    
for i in range (11):     # string formating  ile yapiyoruz ayrica yildizi kullanmaya dikkat
    print( "{} x {} = ".format(number,i),number * i)

Enter a number between 1 and 10: 5
5 x 0 =  0
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50

In [2]:
number = int(input("Enter a number : "))

for i in range(11) :
    print("{} x {} = ".format(number,i), number * i)

Enter a number : 8
8 x 0 =  0
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
8 x 10 =  80

In [4]:
number = int(input("Enter a number : "))

for i in range(11) :
    print("{} x {} = {}".format(number, i, number*i))

Enter a number : 8
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [5]:
print(range(6))

range(0, 6)

### print(range(0,6))   # range ketumdur bunu cozebilmenin 3 yolu vardir
                    # for  dönguleri
                    # collection fonk ile (tup,list, set) 
                    # * ile   iterable elemanlarina ayrildi

In [8]:
seq = range(6)
for i in seq :
    print(i)

0
1
2
3
4
5

In [9]:
print(list(seq))   # list fonk ile yapildi

[0, 1, 2, 3, 4, 5]

In [10]:
print(tuple(seq))   # tuple ile yapildi

(0, 1, 2, 3, 4, 5)

In [11]:
print(* seq)

0 1 2 3 4 5

In [12]:
n = set(range(10)) 

print(n)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
print(* range(10))

0 1 2 3 4 5 6 7 8 9

In [36]:
print(* range(10))

0 1 2 3 4 5 6 7 8 9

In [15]:
print(* range(0,25,5))

0 5 10 15 20

In [16]:
print(* range(0,55,11))

0 11 22 33 44

In [17]:
print(* "Canim Ailem")  # strin iterable dir onu da elemanlarina ayiriir

C a n i m   A i l e m

In [19]:
print(* "Hi Everybody")

H i   E v e r y b o d y

In [20]:
print(*range(10,0,-2))

10 8 6 4 2

In [21]:
print(* range(100,0,-20))

100 80 60 40 20

### zip fonksiyonu iki itarable karsilikli olarak tuple tuple bir araya getiriyor  zip de ketum fonksiyonlardandir

In [22]:
family = ["Ramzn","Meral","Bengisu","Akif","Orhan"]
years = [4,37,13,7,5]

for x,y in zip(family,years) : 
    print(x, ":", y )

Ramzn : 4
Meral : 37
Bengisu : 13
Akif : 7
Orhan : 5

In [39]:
print(type("Ramzn"))
print(type(4))

<class 'str'>
<class 'int'>

In [31]:
family = ["Ramzn","Meral","Bengisu","Akif","Orhan"]
years = [4,37,13,7,5]

In [25]:
zip(years,family)

In [27]:
 x = zip(years,family)  # list fonk ile acabilmek icin zip li degeri bir degiskenen aatnir

In [28]:
print(list(x))

[(4, 'Ramzn'), (37, 'Meral'), (13, 'Bengisu'), (7, 'Akif'), (5, 'Orhan')]

In [29]:
for family, yeras in x :
    print(family,years)    #  yazdiramadik sebebi

In [35]:
family = ["Ramzn","Meral","Bengisu","Akif","Orhan","Sadik"]
years = [4,37,13,7,5,6]

for family, yeras in x :
    print(family,years)

In [11]:
for x in set('pqr'):
    print(x*2)

qq
rr
pp

In [3]:
for x in set('pqr'):
    print(x*3)

qqq
rrr
ppp

In [4]:
for x in set('pqr'):
    print(x)

q
r
p

In [5]:
d = {"john":40, "peter":45}
d["john"]

40

In [6]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

In [7]:
a={}
a['a']=1
a['b']=[2,3,4]
print(a)

{'a': 1, 'b': [2, 3, 4]}

In [12]:
for x in set('pqr'):
    print(x*2)

qq
rr
pp

In [13]:
a={}
a['a']=1
a['b']=[2,3,4]
print(a)

{'a': 1, 'b': [2, 3, 4]}

In [14]:
z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
print(z)

{'b', 'c', 'p', 'q', 'san', 'a'}

In [17]:
count, fruit, price = (2, 'apple', 3.5)

print(count)

2

In [18]:
print(price)

3.5

In [6]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [11]:
x, *y, z = ("A", 10, "Geeks ", "Ramazan", " for ", "Geeks ", 50)  # * kalan herseyi yildiza aliyor
print(x)
print(y)
print(z)

A
[10, 'Geeks ', 'Ramazan', ' for ', 'Geeks ']
50

In [12]:
family = ["Ramazan", "Kaya"]
print(list(enumerate(family,2007)))

[(2007, 'Ramazan'), (2008, 'Kaya')]

In [1]:
text = ["one", "two", "Thre"]
numbers = [1,2,3]
for x,y in zip(text,numbers):
    print(x, ":", y)

one : 1
two : 2
Thre : 3

In [8]:
text = ["one", "two", "Three", "four","five"]
numbers = [1,2,3,4,5]
ciyt = ["Tokyo","Mekke","Turku","Helsinki","Loimaa"]

In [4]:
list(zip(text,numbers))

[('one', 1), ('two', 2), ('Three', 3), ('four', 4), ('five', 5)]

In [5]:
print(*zip(text,numbers))

('one', 1) ('two', 2) ('Three', 3) ('four', 4) ('five', 5)

In [9]:
print(* zip(text,numbers,city))

NameError: name 'city' is not defined

In [ ]:
evens = [0,2,4,6,8,]

In [3]:
even = []
odd = []

for i in range(10):
    if i%2 == 0:
    even append(i)
    else:
    odd.append(i)
    
print(even)
print(odd)

IndentationError: expected an indented block (<ipython-input-3-b88c380a3bc5>, line 6)

In [2]:
evens = []    #   1 den 1 a kadar sayilari tek cift olarak ayirdik
odd = []      # önce bos liste olusturduk


for n in range (1,9):     # range fonk ile siraladik
    if n%2 ==0:           # eger 2 ye bolumu sifir ise yani tam bolunuyorsa
        evens.append(n)    # append ile even listesine eklenece
    else : 
        odd.append(n)      # degilse odd un icine eklenecek
        
print(evens)
print(odd)                # ve neticesi olarak cikti aliniyor

[2, 4, 6, 8]
[1, 3, 5, 7]

In [10]:
n = [11,2,24,6,48,33,3]  # listenin icinde teklerin ve ciftlerin sayilarini toplayacagiz
evens = []
odd = []

 
for i in n :
    if i%2 == 0:
        evens.append(i)
    else :
        odd.append(i)
        
print(evens)
print(odd)

[2, 24, 6, 48]
[11, 33, 3]

In [12]:
n = [11,2,24,6,48,33,3] 
odd = 0
even = 0

for i in n : 
    if not i%2 :
        even += 1
    else :
        odd += 1
        
print("The count of evevn numbers : ", even )        
print("The count of odd numbers : ", odd )

The count of evevn numbers :  4
The count of odd numbers :  3

In [13]:
if 1 : 
    print("calisir")

calisir

In [15]:
if 0 :
    print("beni goremezsin")

In [16]:
0%2

0

In [17]:
11%2

1

In [18]:
not 1

False

In [19]:
not 0

True

In [22]:
for i in range(10):
    print(*str(i))

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(1,i):
    print(i*str(i))

1
22
333
4444
55555
666666
7777777
88888888

In [24]:
for i in range (10):
    print()
    
    for j in range (i +1):
        print(j, end = "")

0
01
012
0123
01234
012345
0123456
01234567
012345678
0123456789

In [25]:
for i in range(1,10):
  print(str(i)*i)       #  strinleri * ile istedigimiz kadar yazdiriyoruz

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [31]:
for i in range(1,10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [29]:
"2"*2   # istedigimiz kadar yazdiriyor

'22'

In [30]:
"1"*5

'11111'

In [34]:
 for i in range(1,5):
        print(str(i) * 10)

1111111111
2222222222
3333333333
4444444444

In [36]:
for i in range(1,74):
    print(i +  )
toplam = 0

TypeError: 'int' object is not iterable

In [37]:
toplam = 0

for i in range(1,75):   #  1  den 74 e akadar olan sayilarin toplami
                            # for loop ile
    toplam = toplam + i
toplam

2775

In [38]:
who = ["I am ", "You are"]   # Nested for loop   ic ice for döngusu 
mood = ["happy", "confident"]

for i in who :
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You arehappy
You areconfident

In [42]:
names = ["susan", "tom", "edward"] 
mood = ["happy ", "sad "]


for i in names:
    for ii in mood:
        print(i + " is " + ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [43]:
names = ["susan", "tom", "edward"] 
mood = ["happy ", "sad "]


for i in names:
    for ii in mood:
        print(i, " is ",  ii)

susan  is  happy
susan  is  sad
tom  is  happy
tom  is  sad
edward  is  happy
edward  is  sad

In [56]:
my_list = [1,2,3,4,5,6]   # 
new_list= []

In [51]:
for i in my_list :
    if i % 2 :
        new_list.append(i **2 )
new_list

[1, 9, 25]

In [57]:
bos.append(my_list[0] ** 2)
bos

NameError: name 'bos' is not defined

###   list comprehension larin Temel yapisi  


[expression for item in iterable]   # list comprehansion da append kullnilmiyor

 for item in iterable :
     expression

In [58]:
listem =  []
for i in range(5):
    listem.append(i)
listem

[0, 1, 2, 3, 4]

In [59]:
[i for i  in range (5)]

[0, 1, 2, 3, 4]

In [60]:
listem =  []
for i in range(5):
    listem.append(i ** 2)
listem

[0, 1, 4, 9, 16]

In [61]:
[i ** 2 for i  in range (5)]   # list comprehansion ile yapimi

[0, 1, 4, 9, 16]

In [62]:
condition = True

if condition:
    a = 1
else :
    a = 0
a

1

In [64]:
print(1 if 2> 4 else 0)

0

In [ ]:
a =1 if 2 < 4 else 0
print(a)

###  ternary "if " conditions yapisi

""python

execute- body if conditions else execute- body2    benim kosulumu saglar ise if in sagindaki alani calistir

In [65]:
my_list = [1,2,3,4,5,6]

In [67]:
[i ** 2 for i in my_list if i%2]

[1, 9, 25]

In [69]:
[i ** 2 for i in my_list]

[1, 4, 9, 16, 25, 36]

In [70]:
[i ** 2 for i in my_list if not i%2]

[4, 16, 36]

In [71]:
a = [i ** 2 for i in my_list if not i%2]
a

[4, 16, 36]

In [79]:
a = (i ** 2 for i in my_list)
a

In [76]:
print(*a)

1 4 9 16 25 36

In [77]:
for i in a:   # for döngususnun icerisinde nex parametri bulunuyor
    print(i)

In [80]:
a = (i ** 2 for i in my_list)  # her defasin da her birini tek tek iterate ediyor 
print(next(a))

1

In [82]:
print(next(a))

4