# PYTHON PROGRAMLAMA DILI TEMELLERI

Best way to learn a language is to use it
1. Gunluk kod yazin
2. interaktif calisin
3. 20-25 dk calis ara ver
4. Hata yapin ve cozum bulun 
5. Calisma arkadaslari bulun
6. Anladiginiz ogretmeye calisin
7. Projeler yapinu

In [1]:
1+2

3

input ("isminiz nedir") Ramazan
input ("soyadiniz nedir"3

isim = "Ramazan"
soyisim = "Kaya"

print(isim)
print(soyisim)

In [ ]:
PI = 3.14

In [ ]:
isim = "Serkan"

In [ ]:
isim,soyisim = "Ali", "Tek"

In [ ]:
isim,soyisim= soyisim,isim

In [ ]:
print(isim)

In [ ]:
Kullanici_Adi = "Kaya"

print

In [ ]:
input("isminiz nedir?")

In [ ]:
print("Ramazan Kaya")

In [ ]:
isim="Mehmet"
soyism = "kaya"

print(isim)

###  Degiskenler ve Sabitler (Variables and Constants)

In [ ]:
isim="Mehmet"
soyisim = "kaya"

print(isim)

In [1]:
print("Ramazan")

Ramazan

In [3]:
isim = "Ramazan"
soyisim ="Kaya"

In [4]:
print("isim,soyisim")

isim,soyisim

In [6]:
print(isim,soyisim)

Ramazan Kaya

In [1]:
YAS = 40

In [2]:
5+7

12

In [4]:
5,5487+8,0

(5, 5495, 0)

In [6]:
10,5 + 5,5

(10, 10, 5)

In [7]:
10.5+5.5

16.0

In [8]:
36 // 5

7

In [10]:
round(5.9888)

6

In [11]:
isim = "Ramazan Kaya"

In [ ]:
isim

In [1]:
"Turkiye nin en buyuk sahri istanbuldur"

'Turkiye nin en buyuk sahri istanbuldur'

In [4]:
print("Turkiye nin \n buyuk sahri \nistanbuldur")

Turkiye nin
 buyuk sahri
istanbuldur

In [5]:
isim = "ramazan kaya"

In [6]:
"ramazan kaya". upper()

'RAMAZAN KAYA'

In [7]:
"RAMAZAN KAYA". lower()

'ramazan kaya'

In [8]:
 isim.find("Kaya")

-1

In [9]:
isim.find("z")

4

In [10]:
isim.replace("kaya","Belkizoglu")

'ramazan Belkizoglu'

In [11]:
isim = "Ramazan"
soyisim="Kaya"

In [ ]:
print("Benim ismim {} soyismim{}".format(isim,soyisim))

In [1]:
isim = "Akif"
soyisim = "Orhan"

In [3]:
print("Benim ismim {} soyisimim {}".format(isim,soyisim))

Benim ismim Akif soyisimim Orhan

In [4]:
5<4

False

In [5]:
5>4

True

In [6]:
5 == 5

True

In [7]:
5 == 7

False

In [8]:
7 >= 5

True

In [9]:
6 !=5

True

In [13]:
insan = ["Akif","Kaya",7,89,987,5478]

In [11]:
insan

['Akif', 'Kaya', 7]

In [12]:
insan[0:2]

['Akif', 'Kaya']

In [ ]:
insan[2:2:1]

In [14]:
insan

['Akif', 'Kaya', 7, 89, 987, 5478]

In [15]:
insan[4]= "Orhan"

In [16]:
insan

['Akif', 'Kaya', 7, 89, 'Orhan', 5478]

In [17]:
sayilar = [1,2,3,5,8,78,548,789,98521,8,2,6,7,4,2]

In [18]:
len(sayilar)

15

In [19]:
sayilar[-3:2]

[]

In [20]:
sayilar.append(10000)

In [21]:
sayilar

[1, 2, 3, 5, 8, 78, 548, 789, 98521, 8, 2, 6, 7, 4, 2, 10000]

In [22]:
sayilar.remove(7)

In [23]:
sayilar

[1, 2, 3, 5, 8, 78, 548, 789, 98521, 8, 2, 6, 4, 2, 10000]

In [24]:
sayilar.pop()

10000

In [25]:
sayilar

[1, 2, 3, 5, 8, 78, 548, 789, 98521, 8, 2, 6, 4, 2]

In [26]:
c = [1,2,2,54,79,512,514,2145]
d = [8,9,985,658,741]

In [27]:
c.extend(d)

In [28]:
c

[1, 2, 2, 54, 79, 512, 514, 2145, 8, 9, 985, 658, 741]

In [30]:
d.index(9)

1

In [34]:
d.insert(5,"Belkiz")

In [35]:
d

[8, 9, 985, 658, 741, 'Belkiz']

In [37]:
g = [5,788,5,98,6547,2,5874,4]

In [38]:
g.sort()

In [39]:
g

[2, 4, 5, 5, 98, 788, 5874, 6547]

In [40]:
g.sort(reverse = True)

In [41]:
g

[6547, 5874, 788, 98, 5, 5, 4, 2]

In [46]:
isim = ["Ramazan","Kaya","Serkan","Akif","Orhan"]

In [48]:
isim . reverse()

In [49]:
isim

['Orhan', 'Akif', 'Serkan', 'Kaya', 'Ramazan']

In [50]:
isim.sort(reverse=True)

In [51]:
isim

['Serkan', 'Ramazan', 'Orhan', 'Kaya', 'Akif']

In [52]:
kimlik = {
    "isim": "Akif",
    "soy adi": "Kaya",
    "tc_no":5498784546,
    "dogum yeri":"kirsehir"
         }

In [53]:
kimlik

{'isim': 'Akif',
 'soy adi': 'Kaya',
 'tc_no': 5498784546,
 'dogum yeri': 'kirsehir'}

In [57]:
kimlik["isim"]="Orhan"

In [58]:
kimlik

{'isim': 'Orhan',
 'soy adi': 'Kaya',
 'tc_no': 5498784546,
 'dogum yeri': 'kirsehir'}

In [59]:
len(kimlik)

4

In [60]:
kimlik["yil"] = 2007

In [61]:
kimlik

{'isim': 'Orhan',
 'soy adi': 'Kaya',
 'tc_no': 5498784546,
 'dogum yeri': 'kirsehir',
 'yil': 2007}

In [62]:
kimlik.keys()

dict_keys(['isim', 'soy adi', 'tc_no', 'dogum yeri', 'yil'])

In [63]:
kimlik. values()

dict_values(['Orhan', 'Kaya', 5498784546, 'kirsehir', 2007])

In [64]:
kimlik.update({"anne_adi":"Meral"})

In [65]:
kimlik

{'isim': 'Orhan',
 'soy adi': 'Kaya',
 'tc_no': 5498784546,
 'dogum yeri': 'kirsehir',
 'yil': 2007,
 'anne_adi': 'Meral'}

In [3]:
zamirler = ("ben","sen","o","biz")

In [67]:
zamirler[2]

'o'

In [68]:
len(zamirler)

4

In [8]:
sayilar = (1,2,3,5,8,8,8,9,54,4,1,5,)

In [9]:
sayilar

(1, 2, 3, 5, 8, 8, 8, 9, 54, 4, 1, 5)

In [72]:
sayilar.index(5)

3

In [4]:
zamirler[0:2]

('ben', 'sen')

In [10]:
zamirler + sayilar

('ben', 'sen', 'o', 'biz', 1, 2, 3, 5, 8, 8, 8, 9, 54, 4, 1, 5)

In [11]:
sayi = {1,2,5,45,87,984,5,7,2,6547,98,1}

In [12]:
sayi

{1, 2, 5, 7, 45, 87, 98, 984, 6547}

In [13]:
sayi.add(500)

In [14]:
sayi

{1, 2, 5, 7, 45, 87, 98, 500, 984, 6547}

### PYTHON DERSLERI

In [1]:
print("hello world")

hello world

In [2]:
print("I'm happy to learn")

I'm happy to learn

In [3]:
print(''''We should have come"''')

'We should have come"

In [3]:
print("""Hello every body" """)

Hello every body"

### DEGISKENLR(VARIABLE)

In [20]:
coin_value = 1000
binterest_rate = coin_value * 7 / 100
kar = coin_value += interesr_rate
print(coin_value)

SyntaxError: invalid syntax (<ipython-input-20-2e0b4bbc4e47>, line 3)

In [18]:
Coin_value += interest_rate
print(coin_value)

NameError: name 'Coin_value' is not defined

In [4]:
my_float = 40.0
negative_float = -852.147
print(my_float)
print(negative_float)

40.0
-852.147

In [3]:
print(my_float, negative float)

SyntaxError: invalid syntax (<ipython-input-3-da32c88df26a>, line 1)

In [5]:
my_float, negative_float = 40.0, -258

In [6]:
print(my_float, negative_float)

40.0 -258

In [7]:
 int(2.554484)

2

In [ ]:
print()

In [19]:
value_of_coin = 1000 
profit_daily = value_of_coin * 0.07  

first_day_principal = (value_of_coin + profit_daily)   
print("first_day_principal :", first_day_principal, "\n")

second_day_principal = (first_day_principal *1.07)
print("second_day_principal", second_day_principal, "\n")

third_day_principal = (second_day_principal *1.07)
print("third_day_principal", third_day_principal, "\n")

fourth_day_principal = (third_day_principal *1.07)
print("fourth_day_principal", fourth_day_principal, "\n")

fifth_day_principal = (fourth_day_principal *1.07)
print("fifth_day_principal", fifth_day_principal, "\n")

sixth_day_principal = (fifth_day_principal *1.07)
print("sixth_day_principal", sixth_day_principal, "\n")

seventh_day_principal = (sixth_day_principal *1.07)
print("seventh_day_principal", seventh_day_principal,  "\n")

first_day_principal : 1070.0

second_day_principal 1144.9

third_day_principal 1225.0430000000001

fourth_day_principal 1310.7960100000003

fifth_day_principal 1402.5517307000005

sixth_day_principal 1500.7303518490005

seventh_day_principal 1605.7814764784307

In [27]:
coin_value = 1000
daily_profit = 0.07
first_day_amount = (coin_value * daily_profit) + coin_value
print(first_day_amount)

1070.0

In [29]:
a = 5
a = a + 1
a

6

In [32]:
a += 1
a

9

In [33]:
b = 1

In [34]:
b +=1
b

2

In [35]:
b *=5
b

10

In [36]:
5 == 5

True

In [37]:
7 >=9

False

In [38]:
7 <= 9

True

In [39]:
7 == 9

False

In [40]:
6 != 6

False

In [41]:
6 != 5

True

In [42]:
print("Question {6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

Question I will have found a job in 6 months

In [48]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in','know','bring','to','students.','out','best','teachers','the','Good','how'))

Good teachers know how to bring out the best in students.

In [52]:
first_name = "Ramazan"
last_name = "Kaya"

In [55]:
output = "Hello," + first_name + " " + last_name
print(output)

Hello,Ramazan Kaya

In [60]:
output = "Hello, {} {} ".format(first_name, last_name)
print(output)

Hello, Ramazan Kaya

In [61]:
output = "Hello, {0} {1} ".format(first_name, last_name)
print(output)

Hello, Ramazan Kaya

In [67]:
output = f"Hello, {first_name} {last_name}"
print(output)

Hello, Ramazan Kaya

In [68]:
print('{1} {0} {2} {2} {3} {3} {2}'.format('hoşgelir', 'tren gelir', 'ley', 'lümü'))

tren gelir hoşgelir ley ley lümü lümü ley

In [ ]:
print({} {} {} {} {} {} {} {}.format("Ramazan","hos","Ay\\ n")      )

In [ ]:
print("Vucut Kitle Indeksi Hesaplama")
boy = float(input("Boyunuzu Giriniz (m): "))
kilo = int(input("Kilonuzu Giriniz (kg): "))

endeks = kilo/(boy ** 2)

if endex <18: 
    print("\n Ideal Kilonun Altinda VKI:{}".format(endex))
elif endex >= 18 and endex <24.99: 
    print("\n Ideal Kilo VKI:{}".format(endex)) 
elif endex >= 25 and endex < 30:
    print("\n ideal Kilonun ustunde VKI:{}".format(endex))
elif endex >= 30 :
    print("\n Lutfen Bir Diyetisyen Ile Irtibata Gecin VKI:{}".format(endex)) 
else:
    print("\n Acil Yardima ihtiyaciniz var VKI:{}".format(endex))

In [ ]:
print("Body Mass Calculator")
Height = float(input("Height (m): "))
Weight = int(input("Weight (kg): "))

endex = Weight/(Height ** 2)

if endex <18: 
    print("\n underweight VKI:{}".format(endex))
elif endex >= 18 and endex <24.99: 
    print("\n Ideal weight VKI:{}".format(endex)) 
elif endex >= 25 and endex < 30:
    print("\n Overweight VKI:{}".format(endex))
elif endex >= 30 :
    print("\n Severe obesity VKI:{}".format(endex)) 
else:
    print("\n You Need Emergency Help VKI:{}".format(endex))

In [ ]:
print("Vucut Kitle Indeksi Hesaplama")
boy = float(input("Boyunuzu Giriniz (m): "))
kilo = int(input("Kilonuzu Giriniz (kg): "))

endeks = kilo/(boy ** 2)

if endex <18: 
    print("\n Ideal Kilonun Altinda VKI:{}".format(endex))
elif endex >= 18 and endex <24.99: 
    print("\n Ideal Kilo VKI:{}".format(endex)) 
elif endex >= 25 and endex < 30:
    print("\n ideal Kilonun ustunde VKI:{}".format(endex))
elif endex >= 30 :
    print("\n Lutfen Bir Diyetisyen Ile Irtibata Gecin VKI:{}".format(endex)) 
else:
    print("\n Acil Yardima ihtiyaciniz var VKI:{}".format(endex))

Vucut Kitle Indeksi Hesaplama

In [4]:
print("VÜCUT KİTLE ENDEKSİ HESAPLAMA PROGRAMI")
boy = float(input("Boy (m):"))
kilo = int(input("Kilo (kg):"))
 
endeks  = kilo/(boy*boy)
 
if endeks <18:
    print("\n zayıf VKİ:{}".format(endeks))
elif endeks >= 18 and endeks <25 :
    print("\n normal VKİ:{}".format(endeks))
elif endeks >= 25 and endeks <30:
    print("\n kilolu VKİ:{}".format(endeks))
elif endeks >= 30 and endeks <35:
    print("\n obez VKİ:{}".format(endeks))
else:
    print("\n ciddi obez VKİ:{}".format(endeks))

VÜCUT KİTLE ENDEKSİ HESAPLAMA PROGRAMI
Boy (m):45
Kilo (kg):75

 zayıf VKİ:0.037037037037037035

In [3]:
print("Multiplication")
Sayi1 = (input("1 Sayi :  "))
Sayi2 = (input("2 Sayi :  "))
Sayi3 = (input("3 Sayi :  "))

Multiplication = float(Sayi1) * float(Sayi2) * float(Sayi3)
print("Multiplication : {}".format(Multiplication))

Multiplication
1 Sayi :  45
2 Sayi :  65
3 Sayi :  75
Multiplication : 219375.0

In [7]:
Butce = 200 
Malzeme_Fiyati = 11 
Kalan_Para = Butce % Malzeme_Fiyati
Malzeme_Adeti = Butce // Malzeme_Fiyati 

print(float(Kalan_Para))
print(int(Malzeme_Adeti))

2.0
18

In [14]:
Butce = 200 
Malzeme_Fiyati = 11 
Kalan_Para = Butce % Malzeme_Fiyati
Malzeme_Adeti = Butce // Malzeme_Fiyati 


print("Kalan_Para : {}".format(Kalan_Para))
print("Malzeme_Adeti : {}".format(Malzeme_Adeti))

Kalan_Para : 2
Malzeme_Adeti : 18

In [ ]:
Sayi1 = float(input("1 Sayi :  "))
Sayi2 = float(input("2 Sayi :  "))

x = Sayi1
y = Sayi2 

temp = x
x = y
y = temp

In [ ]:
Sayi1 = float(input("1 Sayi :  "))
Sayi2 = float(input("2 Sayi :  "))

x = Sayi1
y = Sayi2 

temp = x
x = y
y = temp

In [1]:
x= int(input("bir sayi gir="))
y= int(input("sayi gir="))
print(int ((x + y) * (x- y)))

bir sayi gir=35
sayi gir=54
-1691

In [4]:
x = float(input("Sicaklik Degerini Giriniz (C):")) # Girilen Deger Santigrattan Fahrenayta dönusturulur
        
fahrenit_Degeri=float(x * 1.8) + 32

print("fahrenay_Degeri = {}".format(fahrenit_Degeri))

Sicaklik Degerini Giriniz (C):45
fahrenay_Degeri = 113.0

In [7]:
print("Kilometers to Miles conversion")

x = float(input("Enter A Distance: (km)"))

Mil_Value = float(x * 0.62137)

print("Mil Value = {} ".format(Mil_Value))

Kilometers to Miles conversion
Enter A Distance: (km)150
Mil Value = 93.2055

In [8]:
print("Temperature Converter")

x = float(input("Enter The Temperature (C):"))   

Fahrenheit=float(x * 1.8) + 32

print("Fahrenheit = {}".format(Fahrenheit))

Temperature Converter
Enter The Temperature (C):45
Fahrenheit = 113.0

In [9]:
print("Kilometers to Miles conversion")

x = float(input("Enter A Distance: (km)"))

Mil_Value = float(x * 0.62137)

print("Mil Value = {} ".format(Mil_Value))

Kilometers to Miles conversion
Enter A Distance: (km)500
Mil Value = 310.685

In [4]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [8]:
flowers = [ ["jasmine",["lavender","rose"],"tulip"]]
colors = ["red",("blue",["yellow", "green"]),"pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are blue and green.".format([0][2][2],[0][1][1])
print(text)

IndexError: list index out of range

In [ ]:
list(111)

In [ ]:
a ="1,2, ,87,54.6, ,?"

In [11]:
xx= [[1],[2,3]]
len(xx)

2

In [3]:
city = ["los", "beirut", "tokyo"] 
city[0] = True

In [4]:
city

[True, 'beirut', 'tokyo']

In [5]:
city [1:] = "clarus"
city

[True, 'c', 'l', 'a', 'r', 'u', 's']

In [6]:
city

[True, 'c', 'l', 'a', 'r', 'u', 's']

In [7]:
city[1:] ="Istanbul","seul"
city

[True, 'Istanbul', 'seul']

In [8]:
city[1:]

['Istanbul', 'seul']

In [ ]:
city1 = ["Istanbul","yozgat","Erzurum","Ankara"]

In [3]:
city1 = ["Istanbul","yozgat","Erzurum","Ankara"]

city1[0:2] = "a"
city1

['a', 'Erzurum', 'Ankara']

In [5]:
print("\\\\")

\\

In [6]:
print("\\"+"\\")

\\

In [9]:
a = 3
b = 4
print("{} + {}`un toplami {} ` dir.". format(a,b,a+b))

3 + 4`un toplami 7 ` dir.

In [12]:
text = "{:.2f}, {:.3f}, {:.4f}".format ("3.1463","5.3676","7,32456")
print(text)

ValueError: Unknown format code 'f' for object of type 'str'

In [13]:
text = "{:>20}".format("Clarusway") # toplam 20 karakterlik bir alan olusturduk ve bunun sagina yerletirdik
text

'           Clarusway'

In [14]:
text = "{:<20}".format("Clarusway")
text

'Clarusway           '

In [16]:
text2 = "{:<10} formatlama" .format("test")
text2

'test       formatlama'

In [ ]:
{:>> 336qqq

In [19]:
sentence = "I am 40 years old.{}I have two children.{} Data Science is my IT domain.".format (("\n\t"),("\n\t\t"))

print(sentence)

I am 40 years old.
	I have two children.
		 Data Science is my IT domain.

In [1]:
new_list = [1,2,3,4]
new_list.insert(4,5)
print(new_list)

[1, 2, 3, 4, 5]

In [3]:
a = [1,2,3,4,5]
a.insert(-1,5)
a

[1, 2, 3, 4, 5, 5]

In [6]:
list_1 = ['one', 'four', 'nine']
list_1.sort()
list_1

['four', 'nine', 'one']

In [7]:
list_1 = ['one', 'Four', 'nine']
list_1.sort()
list_1

['Four', 'nine', 'one']

In [8]:
list_1 = ['One', 'Four', 'nine']  # Buyuk harflere basa
list_1.sort()
list_1

['Four', 'One', 'nine']

In [9]:
 XX = [True,False]  # False 0 True 1 dir Kucukten buyuge siralar
 XX.sort()
 XX

[False, True]

In [11]:
list_4 = [[3],[44],[-12] ]
list_4.sort

In [ ]:
list_4.sort

In [ ]:
list_4 = [[3],[44],[-12] ]

In [14]:
ord("@")

64

In [17]:
new = ['h', 'a', 1, ['p', 5], True]
new[4]
type(new[4])

bool

In [19]:
variable = new[3]
type(variable)

list

In [ ]:
sehirler = [["New York", "london", "ıstanbul", "seoul", "sydney"]]

In [23]:
list_1 = [1,2,3,4,5,6,7,8,9,10]
print(list_1[0::2])

[1, 3, 5, 7, 9]

In [8]:
print(list(range(1,11))[0::2])

[1, 3, 5, 7, 9]

In [24]:
range(1,11)

range(1, 11)

In [2]:
odd = list(range(11))
print(odd[0::2])

[0, 2, 4, 6, 8, 10]

In [5]:
print(odd(list(range(11))[0::2])

SyntaxError: unexpected EOF while parsing (<ipython-input-5-371123559a98>, line 1)

In [10]:
number = "32"
print(1988 + int("32"))

2020

In [16]:
print(None or not(0))

True

In [15]:
print(1 or not(None))

1

In [1]:
city1 = ["Istanbul","yozgat","Erzurum","Ankara"]
city1.pop(3)
print(city1)

['Istanbul', 'yozgat', 'Erzurum']

In [8]:
city1 = [["Istanbul","yozgat","Erzurum","Ankara"], [1,2,5,8,45,], [546,85,75,64,87]]
city1.pop(3)
print(city1)

IndexError: pop index out of range

In [9]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

### DICT (DICTIONARY)

In [11]:
my_dict = {"key1" : "Value1",
            "key2" : "value2",
            "key3" : "Value3"
           }

print(my_dict,type(my_dict))

{'key1': 'Value1', 'key2': 'value2', 'key3': 'Value3'} <class 'dict'>

In [12]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [14]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Arkansas'],["Colorado"]) # accessing method

Little Rock ['Colorado']

In [21]:
stade_capitals = {"Ankara"   : "Yenimahalle",
                  "Kayseri"  : "Melikgazi",
                  "Kirsehir" : "Ahievran"}

stade_capitals["Loimaa"] = "Hirvikoski" #  adding a new items

print(stade_capitals)

{'Ankara': 'Yenimahalle', 'Kayseri': 'Melikgazi', 'Kirsehir': 'Ahievran', 'Loimaa': 'Hirvikoski'}

In [22]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)  # dict ile sozluk haline getiriyor 
                                                                                     =  gidiyor  : yerine geliyor
                                                                                        siralanisa dikkat

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
öğelere erişmemize izin verin

In [24]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [28]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({"is_bad" : False})
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [27]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

del dict_by_dict["animal"]
print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [31]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

del dict_by_dict["animal"] ["planet"]
print(dict_by_dict)

TypeError: 'str' object does not support item deletion