In [1]:
print("being a good person")

being a good person

In [2]:
print("i will change my life")

i will change my life

In [3]:
print(572)

572

In [4]:
572

572

In [5]:
print(3.14)

3.14

In [6]:
3,14

(3, 14)

In [7]:
print(3,14)

3 14

In [8]:
5,75

(5, 75)

In [11]:
a= 3.14
print("a")

a

In [12]:
type(a)

float

In [13]:
print(5,75)

5 75

In [14]:
type(5,75)

TypeError: type() takes 1 or 3 arguments

In [16]:
print("first line")
print()  # secondline is empty
print("third line")

first line

third line

In [1]:
print(function.__doc__)

NameError: name 'function' is not defined

In [4]:
e_mail = "kayakadir38067@gmail.com"
print(e_mail)

kayakadir38067@gmail.com

In [8]:
text1 = "I wan to learn string"

text2 = "39"

text3 = "9.60"

print(text1,text2,text3)

I wan to learn string 39 9.60

In [12]:
type(text1,)

TypeError: type() takes 1 or 3 arguments

In [16]:
text1,text2,text3 = "I wan to learn string","39","9.60"

type(text1,text2,text3)

TypeError: type.__new__() argument 2 must be tuple, not str

In [17]:
type(text1)

str

In [19]:
type(text2)

str

In [20]:
print(type(text1))

<class 'str'>

In [21]:
print(type(text2))

<class 'str'>

In [22]:
text = True
print(type(text))

<class 'bool'>

In [23]:
text5 = False
print(type(text5))

<class 'bool'>

In [24]:
a = 5.75
print(type(a))

<class 'float'>

In [29]:
b = int(a)
print(b, "\n")
print(type(b))

5

<class 'int'>

In [2]:
Ramazan_in_Kilosu = 84.5

X = int(Ramazan_in_Kilosu)
print(X, "\n")
print(type(X))

84

<class 'int'>

In [6]:
Meral_ile_evleneli = 15.5
print(type(Meral_ile_evleneli))

y = str(Meral_ile_evleneli)
print(y, "\n")
print(type(y))

y

<class 'float'>
15.5

<class 'str'>

'15.5'

In [7]:
x1,x2,x3,x4 = 35,36,38,39

print(x1,x2,x3,x4, sep="-----")

35-----36-----38-----39

In [8]:
print(45+5.5)

50.5

In [9]:
print(55.5+5.5)

61.0

In [10]:
print(99/3)

33.0

In [11]:
print(66/6)

11.0

In [12]:
print(8/4)

2.0

In [13]:
print(8 // 5)

1

In [14]:
print(99 % 9)

0

In [17]:
print(3 ** 2)

9

In [18]:
print("I love", 4, "seazons" )

I love 4 seazons

In [20]:
print("i")
print("love")
print("you")

i
love
you

In [21]:
print("i", end = " ")
print("love", end = " ")
print("you", end = " ")

i love you

In [22]:
print("i", "love", "you", end = "---- ")

i love you----

In [23]:
print("i", "love", "you", sep = "---- ")

i---- love---- you

In [24]:
print("i", "love", "you")

i love you

In [25]:
print("one", "two", "three", sep="\t")

one	two	three

In [26]:
print("one", "two", "three", sep="\n")

one
two
three

In [27]:
print("one", "two", "three", sep="\b")

onetwothree

In [29]:
print(text1 + "\'s very" + text2)

NameError: name 'text1' is not defined

In [32]:
logic = True and True and True and True and False
print(logic)

False

In [34]:
logic = False and True and True and True and True
logic

False

In [35]:
x = None
print(type(x))

<class 'NoneType'>

In [36]:
2 and 3

3

In [38]:
5 and 6 and 8 and 0 and 1

0

In [40]:
5 and 6 and 8 and 0.5 and 1

1

In [41]:
print(1 and 3 and 0.5 and 8)

8

In [42]:
0.5 and 0 and 0.1

0

In [43]:
0.5 and 5 and 0.1

0.1

In [44]:
0.5 and 5 and 8

8

In [45]:
2.5 and 5 and 8

8

In [46]:
1 and 0

0

In [48]:
85 or 95 or 5 or 0

85

In [49]:
0 or 1.2 or 85 or 95 or 5 or 0

1.2

In [50]:
type(1.2)

float

In [52]:
0.0 or 1

1

In [53]:
None or 1

1

In [54]:
[ ] and [] and {}

[]

In [55]:
[ ] or [] or {}

{}

In [4]:
print(3 * "Kaya ")

Kaya Kaya Kaya

In [ ]:
fruit = "Banana"
print

In [4]:
phrase = "i have %d %s and %.2f brodhers" % (4, "choldren",5)
print(phrase)

i have 4 choldren and 5.00 brodhers

In [8]:
sentence ="I love every body"
print("%.12s" % sentence)  # we get first 12 chracters of the string

I love every

In [9]:
my_family ="Belkizogullari is my family"
print("%.8s" %my_family )

Belkizog

In [11]:
print("%(amount)d pounds of %(fruit)s left" % {"amount" : 33, "fruit" : "bananas"})

33 pounds of bananas left

In [14]:
print(('%.5s' % x) if x : "HelloWorld!")

SyntaxError: invalid syntax (<ipython-input-14-c0a95a93c4ff>, line 1)

In [16]:
fruit = "apple"
vegetabele = "Tomato"
amount = 12
print("The amount of {} we bought is {} pounds".format(fruit,amount))

The amount of apple we bought is 12 pounds

In [17]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [18]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [19]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [22]:
kizlar = "bengisu,nihal"
Erkekler = "Akif,Orhan"
amount = 2
output = f"Ben Kizlarim {kizlar} ve ogullarim {Erkekler} ile cok basarili {amount} ise imza attik"

print(output)

Ben Kizlarim bengisu,nihal ve ogullarim Akif,Orhan ile cok basarili 2 ise imza attik

In [23]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. "
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [25]:
first_name = "Ramazan"
last_name = "kaya"

output = "Hello" , + first_name + " " + "last_name"
print(output)

TypeError: bad operand type for unary +: 'str'

In [2]:
bool_var = False and not True
print(bool_var)

False

In [3]:
print(2 and 3)

3

In [4]:
print(0 and 1)

0

In [5]:
3 and 2 and 1

1

In [6]:
bool(1)

True

### bu sekilde bool un icerisinde bulunan degeri ögrenebiliriz icerisinde deger bulunan stringler de True degerindedir

In [7]:
bool("0")

True

In [8]:
bool(" ")

True

In [9]:
bool(0)

False

In [10]:
bool(0.0)

False

In [11]:
bool(0.1)

True

In [12]:
print(2 and "hello world")
print([] and "be happy!")
print(None and ())

hello world
[]
None

In [13]:
2 or 3

2

In [14]:
None or 1

1

In [15]:
none = "False"

none or 1

'False'

In [16]:
print(2 and "hello world")
print([] and "be happy!")
print(None and ())
print({} or 0)
print({0} or False)

hello world
[]
None
0
{0}

In [6]:
True or False and "False" and not "False" and 0

True

### not un onune gelen bir sey olursa neticesi True veya False olur

In [1]:
not ("None" or None) and False or ("and" not ())

SyntaxError: invalid syntax (<ipython-input-1-b255f485821d>, line 1)

In [2]:
bnot "None"

False

In [3]:
not 0

True

In [4]:
not True

False

In [5]:
not ()

True

In [6]:
not ""

True

In [8]:
not " "

False

###  ingredients of Stuffe Kadayif , a Turkish desert:  Kadayif Dolmasi Hazirlanisi

 Kadayif
 KernelS( Walnut,Hazelnut,Peanut)
 Sherbet(Waterve Sugar)
 Egg
 
 
 and operatöru secilmesinin sebebi bir tanesi bile olmaz ise kadayif pismez hepsi olmaz sa olmazdir bu nedenle and operatöru kullanir AND BIR TANE BILE fALSE VARSA ONU ALDIGI ICIN mustlar bunlardan biri olmaz is eolmaz
 
 
 örnegin Serbet(su ve Seker)   burda and kullniriz cunku biri olmasa False temsil eder and ilk gördugu False degerini alir ve serbetimiz kaynamaza Mustlardir olmasza olmazimizdir
 
 ancak ic(findik distik ceviz) bunlardan bir tanesi olmasi yetecegi icin or kullanilir

In [ ]:
kadayif = None     

#ic malzeme   bir taNESI OLMASI YETERLI
findik = None
fistik = None
ceviz = None

#serbet
su = None
seker = None

yumurta = None

In [ ]:
yedim = kadayif and serbet and ic malzeme and yumurta

In [ ]:
yedim = kadayif and (su and serbet) and ic malzeme and yumurta

In [12]:
kadayif = True     

# ic malzeme   bir taNESI OLMASI YETERLI
findik = True
fistik = True
ceviz = False

#serbet
su = True
seker = False

yumurta = True

yedim = kadayif and (su and seker) and (findik or fistik or ceviz) and yumurta

print(yedim)

False

In [13]:
kadayif = True     

# ic malzeme   bir taNESI OLMASI YETERLI
findik = True
fistik = True
ceviz = False

#serbet
su = True
seker = True

yumurta = True

yedim = kadayif and (su and seker) and (findik or fistik or ceviz) and yumurta

print(yedim)

True

In [14]:
"Clarus Way"

'Clarus Way'

### indexlemek her bir elemanina ulasmak string indexlendigind string bir deger veriyor bir elemana ulasmak buna indexlemek denir belirli bir aralik birden fazla elemana ulasmak ise sileysing oluyor

In [15]:
"Clarus Way"[5]

's'

In [16]:
a = "Clarus Way"
a[8]

'a'

In [17]:
a[-1]

'y'

In [18]:
a[-3]

'W'

In [19]:
type(a)

str

In [23]:
a = "Clarus Way 56"
"Clarus Way 56"[11]

'5'

In [25]:
type(a[6])

str

###[start: stop   : step)

In [27]:
"Clarus-Way. "[6:8]

'-W'

In [28]:
fruit = "orange"

print("Word                  : ", fruit)
print("first letter          : ", fruit[0])
print("second letter         : ", fruit[1])
print("3rd to 5th letters    : ", fruit[2:5])
print("Letter all after 3rd  : ", fruit[2:])

Word                  :  orange
first letter          :  o
second letter         :  r
3rd to 5th letters    :  ang
Letter all after 3rd  :  ange

In [29]:
sayi = input("bir sayi gir : ")

bir sayi gir : 55

In [30]:
type(sayi)

str

## input fonksiyonu klavyedenkullanicinin girdigi ne olursa olsun isaret rakam ne alirsa str ing formatinda aliyor  asagidaki örnekte str olarak gördu ve sayilari yan yana yazdi

In [32]:
a = input("ilk sayiyi giriniz :")
b = input("ikinci sayiyi giriniz :") 
print("iki sayinin toplami :" , a + b)

ilk sayiyi giriniz :45
ikinci sayiyi giriniz :65
iki sayinin toplami : 4565

In [33]:
45+65

110

In [35]:
age = input("Are you a cigarette addict older than 75 years old : ")
chronic = input("Do you have a severe chronic disease? : ")
immune = input("Is your immune system too weak : ")

risk = age and chronic and immune
print(risk)

Are you a cigarette addict older than 75 years old : True
Do you have a severe chronic disease? : True
Is your immune system too weak : True
True

In [36]:
age = input("Are you a cigarette addict older than 75 years old : ")
chronic = input("Do you have a severe chronic disease? : ")
immune = input("Is your immune system too weak : ")

risk = age and chronic and immune
print(risk)

Are you a cigarette addict older than 75 years old : False
Do you have a severe chronic disease? : True
Is your immune system too weak : False
False

In [1]:
age = bool(input("Are you a cigarette addict older than 75 years old : "))  # You are \n
older than 75 years old, also you addict cigarette

chronic = bool(input("Do you have a severe chronic disease? : "))
immune = bool(input("Is your immune system too weak : "))

risk = age or chronic or immune
print(risk)

Are you a cigarette addict older than 75 years old : True
Do you have a severe chronic disease? : False
Is your immune system too weak : False
True

In [3]:
age = True # (You are elder then 75.)
chronic = True # (You have any disesase.)
immune= True #(Your immune system too weak.)
risk1 = age or chronic or immune
risk2 = age and chronic or not immune
risk3 = age and immune or not chronic
risk4 = not age or chronic and immune
risk5 = age or not chronic and not immune
risk6 = not age and not immune or chronic
risk7 = not age and not chronic or immune
risk8 = not age and not chronic and not immune
print(risk1, risk2, risk3, risk4, risk5, risk6, risk7, risk8)

True True True True True True True False

In [4]:
age = True
chronic = True
immune = True
risk = (age or chronic or immune)
print(risk)

True

In [ ]:
age = True
chronic = True
immune = True


age = input("Are you a cigarette addict older than 75 years old : ")
chronic = input("Do you have a severe chronic disease? : ")
immune = input("Is your immune system too weak : ")

risk = age or chronic or immune
print(risk)

In [5]:
age = True # You are older than 75 years old, also you addict cigarette  
chronic = True  # You have a severe chronic disease
immune = True  # Your immunate system too weak  
risk = (age or chronic or immune)
print(risk)

True

In [8]:
age = bool(input("are you elder then 75?:"))
chronic = bool(input("Do you have any disesase?:"))
immune= bool(input("Is your immune system too weak? :"))
risk = (age and chronic or immune)
print(risk)

are you elder then 75?:False
Do you have any disesase?:False
Is your immune system too weak? :False
True

In [10]:
age = True # You are older than 75 years old, also you addict cigarette  
chronic = True  # You have a severe chronic disease
immune = True  # Your immunate system too weak  

age = bool(input("Are you a cigarette addict older than 75 years old : ")) 
chronic = bool(input("Do you have a severe chronic disease? : "))
immune = bool(input("Is your immune system too weak : "))

risk = age or chronic or immune
print(risk)

Are you a cigarette addict older than 75 years old : 54
Do you have a severe chronic disease? : No
Is your immune system too weak : No
True

In [11]:
age = True # You are older than 75 years old, also you addict cigarette  
chronic = True  # You have a severe chronic disease
immune = True  # Your immunate system too weak  

age = bool(input("Are you a cigarette addict older than 75 years old : ")) 
chronic = bool(input("Do you have a severe chronic disease? : "))
immune = bool(input("Is your immune system too weak : "))

risk = age and chronic or immune
print(risk)

Are you a cigarette addict older than 75 years old : 55
Do you have a severe chronic disease? : no
Is your immune system too weak : no
True

### PYTHON 20 MARCH 2021

In [2]:
"orange"[-2:-5:-1]

'gna'

In [22]:
fruit ="orange"

print("Word :   ", fruit[-4::-1] )
print("Word_first :", fruit[3:-3:2])
print("Word_second :", fruit[-5:-2])
print("Word_second :", fruit[::-1])
print("Word_secondd :", fruit[2:5:-1])
print("Word_second :", fruit[-4:-1:-1])
print("Word_second :", fruit[-2:-5:-1])
print("Word_second :", fruit[4:1:-1])

Word :    aro
Word_first :
Word_second : ran
Word_second : egnaro
Word_secondd :
Word_second :
Word_second : gna
Word_second : gna

In [21]:
seviye = "Hedeflerimiz_önceliklerimiz"

print("Real_word :", seviye[-5:-9:-1])
print("Real_word :", seviye[-9:-5:1])

Real_word : relk
Real_word : ikle

## [ start stop step ]  indeksleme soldan saga dogru olur ancak -1 tersine cevirir

In [23]:
"upper"*3

'upperupperupper'

In [24]:
3*"upper"

'upperupperupper'

In [25]:
a = "upper"
3*a

'upperupperupper'

In [26]:
print(*"Ramazan")

R a m a z a n

In [31]:
str_one = "upper"
str_one += "case"
str_one += "letter"


print(str_one)

uppercaseletter

In [33]:
x = "R"
x += "a"
x += "m"
x += "a"

print(x)

Rama

In [34]:
fruit ="Omena"
vegetable = "Tomato"
print("I ate {} and {} ". format(fruit, vegetable))

I ate Omena and Tomato

In [41]:
print(3*fruit +  "+" + 2*vegetable)

OmenaOmenaOmena+TomatoTomato

In [43]:
print(5*vegetable + " + " + 5*fruit)

TomatoTomatoTomatoTomatoTomato + OmenaOmenaOmenaOmenaOmena

In [44]:
output = f"We bought {fruit} and {vegetable} every week. "
print(output)

We bought Omena and Tomato every week.

### f " {}  {} "

In [45]:
veg = "onion"

print("I love {}.".format(veg))

I love onion.

In [46]:
fruit = "Apple"
vegetable = "Tomato"
amount = 5

print("The amount of {} we bought is {} pounds. ".format (fruit,amount))

The amount of Apple we bought is 5 pounds.

In [48]:
print("{state} is the most {adjective} stade of the {country}". format \
      (state = "California", adjective = " beautiful", country = "USA"))

California is the most  beautiful stade of the USA

In [2]:
print(" {} -- {} ".format("Ahmet","Mehmet","Selim"))

 Ahmet -- Mehmet

In [1]:
print("{}--{}".format("Ahmet","Mehmet"))

Ahmet--Mehmet

In [4]:
print("{} is the most {adjective} stade of the {country}". format \
      ("California", adjective = " beautiful", country = "USA"))

California is the most  beautiful stade of the USA

###  ilkine deger atamadik ancak positional argument kurali geregi positional önce gelir   formatta yazili olana ilki ilkiniin icerisine yazilir önce pozitionallar sonra keywordslar olacak sekilde siralanmalidir 

şnce

In [7]:
print("{}--{}--{}--{}". format("a","b","c","e"))

a--b--c--e

In [ ]:
print

### LIST

In [2]:
mixed_list = [15,"Orhan",True,8.54,None,[1,2,3,]]
print(mixed_list)

[15, 'Orhan', True, 8.54, None, [1, 2, 3]]

In [4]:
sentences1 = "I love my family"
print(len(list(sentences1)))

16

In [5]:
family1 = []
family1.append("love")  # sonuna Eklemek icin kullaniyoruz
family1.append(114)
family1.append("114")

print(family1)

['love', 114, '114']

In [8]:
city = ["Turku", "Tampere", "Helsinki"]
city.append("Loimaa") 
print(city)

['Turku', 'Tampere', 'Helsinki', 'Loimaa']

In [10]:
city = ["Turku", "Tampere", "Helsinki"]
city.insert(1,"Loimaa")  # eklemek istedigimiz siralamayi da belirliyoruz 
print(city)

['Turku', 'Loimaa', 'Tampere', 'Helsinki']

In [11]:
my_family = ["Meral","Bengisu","Akif","orhan"]
my_family.append("Ramazan")
print(my_family)

['Meral', 'Bengisu', 'Akif', 'orhan', 'Ramazan']

In [14]:
my_family1 = ["Meral","Bengisu","Akif","orhan"]
my_family1.insert(0,"Ramazan")
print(my_family1)

['Ramazan', 'Meral', 'Bengisu', 'Akif', 'orhan']

In [17]:
city = ["Turku", "Tampere", "Helsinki","Koopio","Jyvekula","oulu"]
city.remove("Helsinki")  # we have deleted "Helsinki"
print(city)

['Turku', 'Tampere', 'Koopio', 'Jyvekula', 'oulu']

In [1]:
city =["Turku","Tampere","Oulu","Zonguldak","Helsinki","Ankara"]
city.remove("Ankara")
city.sort()
print(city)
print(len(city))

['Helsinki', 'Oulu', 'Tampere', 'Turku', 'Zonguldak']
5

In [2]:
print(sorted(city))

['Helsinki', 'Oulu', 'Tampere', 'Turku', 'Zonguldak']

In [23]:
city =["Turku","Tampere","Oulu","Zonguldak","Helsinki","Ankara"]
city[4] = "Vaasa"

print(city)

['Turku', 'Tampere', 'Oulu', 'Zonguldak', 'Vaasa', 'Ankara']

In [24]:
city =["Turku","Tampere","Oulu","Zonguldak","Helsinki","Ankara"]
city[2] = "Istanbul"

print(city)

['Turku', 'Tampere', 'Istanbul', 'Zonguldak', 'Helsinki', 'Ankara']

In [25]:
city.sort()  # Soldan saga siralama yapmak   
print(city)

['Ankara', 'Helsinki', 'Istanbul', 'Tampere', 'Turku', 'Zonguldak']

In [26]:
city.remove("Zonguldak")
print(city)

['Ankara', 'Helsinki', 'Istanbul', 'Tampere', 'Turku']

In [28]:
city.insert(3,"Vanta")
print(city)

['Ankara', 'Helsinki', 'Istanbul', 'Vanta', 'Tampere', 'Turku']

In [29]:
numbers =[1,3,5,7,9,11,15,16]
print(numbers[0:5:2])

[1, 5, 9]

In [30]:
count = list(range(15))  # range ile siralama yaptik
print(count)

print(count[2:16:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[2, 4, 6, 8, 10, 12, 14]

In [34]:
animals = ["elephant", "bear", "fox", "wolf", "rabbit", "deer", "giraffe"]
    
print(animals[2:])

print(animals[0:5:2])

['fox', 'wolf', 'rabbit', 'deer', 'giraffe']
['elephant', 'fox', 'rabbit']

In [35]:
print(len([[12, 34, 56]]))

1

In [36]:
print(len([[12, 34, 56]][0]))

3

In [39]:
print(len([0]))

1

In [ ]:
reef = ["swordfish"]

In [40]:
new1 = [1,2,3,4,5,6,7,8,9,10]

print(new1[2::-1])
print(new1[7:3:-1])
print(new1[9:3:-1])
print(new1[9:3:1])

[3, 2, 1]
[8, 7, 6, 5]
[10, 9, 8, 7, 6, 5]
[]

In [2]:
city_list = [[], ["Ankara", "Istanbul","Kayseri,","Kirsehir","Zonguldak"]]  # listede birinci elemanin icerisinde bulunan 3 cu 
print(city_list[0])
print(city_list[1][3][5])

[]
h

### List (Listeler) [ ]   list ()

In [2]:
list_1 = ["h", "a","p","p,","y" ]
word = "happy"
list_2 = list(word)

print(list_1)
print(list_2)

['h', 'a', 'p', 'p,', 'y']
['h', 'a', 'p', 'p', 'y']

In [4]:
list("111")

['1', '1', '1']

In [6]:
a = "123pols-ys"
a

'123pols-ys'

In [8]:
list(a)  #  list fonksiyonu ile a yi elemanlarina ayirdik

['1', '2', '3', 'p', 'o', 'l', 's', '-', 'y', 's']

In [9]:
a = "123pols-ys"
b = [a]  # 
b

['123pols-ys']

In [10]:
type(b)

list

In [11]:
["Ali"]

['Ali']

In [12]:
new = [word]
new

['happy']

In [18]:
my_list = ["Joseph", "Clarusway", 2020 ]  # bu bir listedir toplamda 3 elmani var list ile elemanLARINA AYIRIYORUZ
\ STRING OLSAYDI "jOSEPH" BUNUN TOPLAM 6 ELEMANI VAR.

new_list1 = list(my_list)
new_list2 = [my_list]  # KOSELI PARANTEZE ALMAK SADECE KOSELI PARENTEZE ALMAKTIR BASKA BIR DEGISIKLIK OLMAZ

print(new_list1)
print(len(new_list1))
print(new_list2)
print(len(new_list2))

['Joseph', 'Clarusway', 2020]
3
[['Joseph', 'Clarusway', 2020]]
1

In [22]:
 a = ["ali", "selma"]
 a

['ali', 'selma']

In [23]:
type(a)

list

In [25]:
b = [a]
print(b)
len(b)

[['ali', 'selma']]

1

In [27]:
xx = [[], []]
len(xx)

2

In [29]:
my_list = ["2020`s hard"]
my_list1 = list ("2020`s hard")

print (my_list)
print(my_list1)

['2020`s hard']
['2', '0', '2', '0', '`', 's', ' ', 'h', 'a', 'r', 'd']

In [41]:
city = ["los", "Ank","kays","istn","Tra"]

In [39]:
city [0] = True   #  los gider True gelir

In [40]:
print(city)

[True, 'Ank', 'kays', 'istn', 'Tra']

In [44]:
city

['los', 'Ank', 'kays', 'istn', 'Tra']

In [35]:
city [1:] = "clarus"  # 1 inci eleman dahil hepsini attar yerine yeni elemani ögelerine ayirir
city

[True, 'c', 'l', 'a', 'r', 'u', 's']

In [45]:
city[1:]

['Ank', 'kays', 'istn', 'Tra']

In [6]:
city1 = ["istanbul", "Yozgat","Erzurum", "Ankara"]

In [3]:
print(city1)

['istanbul', 'Yozgat', 'Erzurum', 'Ankara']

In [5]:
city1[0:2] = ["a", "b"]  # 0 ve 1 gider yerine ERz, Ankara gelir
city1

['a', 'b', 'Erzurum', 'Ankara']

In [7]:
city1[0:2] = "a"  # 2 elemani gider 1 elemani geli

In [8]:
city1

['a', 'Erzurum', 'Ankara']

In [10]:
city1[0:2] = "abcd"  #elemanlarina ayirdi

In [11]:
city1

['a', 'b', 'c', 'd', 'Ankara']

In [15]:
a = "\\\\"
print(a)

\\

In [17]:
print("\\\\")
print("\\" + "\\")

\\
\\

In [18]:
a = 3
b = 4
print("{} + {}´un toplami {}´dir.".format(a,b, a+b))

3 + 4´un toplami 7´dir.

In [21]:
text = "{:.2f}, {:.3f},{:.4f} ".format(3.1463, 5.3676, 7.32567)  # float dan kac deger alacagini gosteriyor
print(text)

3.15, 5.368,7.3257

In [22]:
text = "{:.2s} - {:.3s} - {:.4s} ".format("3.1463", "5.3676", "7.32567")  # stringten toplam 2 , 3 , 4 karakter al
print(text)

3. - 5.3 - 7.32

In [25]:
text = " {:>20}".format ("clarusway")  # toplam 20 karakterlik  bir alan olusturup bu 20 karakterin sagina yasladik
print(text)
print(len(text))

            clarusway
21

In [26]:
text = " {:<20}".format ("clarusway")  # toplam 20 karakterlik  bir alan olusturup bu 20 karakterin soluna yasladik
print(text)

 clarusway

In [31]:

text = " Allah iyi {:>10} ile karsilastirsin".format("insanlar")
print(text)

 Allah iyi   insanlar ile karsilastirsin

In [33]:
text2 = "{:<10} formatlama".format("test")
text2

'test       formatlama'

In [37]:
"{:^20}".format("Sevgi esastir")

'   Sevgi esastir    '

In [41]:
"Allah {:^20} salih kuularindan eylesin ".format(" HEPIMIZI") # formatlama yöntemi ile ortaladik

'Allah       HEPIMIZI       salih kuularindan eylesin '

In [42]:
"{:.5}".format("hipopotamus")  #

'hipop'

### append,  insert operations

In [11]:
numbers = [1,4,5,8,7,9,6,2,45,68,98,754]
numbers.append(66666)
print(numbers)

numbers.insert(6,2555555)  # 6. elemanin koltuguna yerlesiyor ve saga kaydiriyor
print(numbers)

numbers.insert(9,[5])
print(numbers)
              
numbers.insert(1,False)
print(numbers)

[1, 4, 5, 8, 7, 9, 6, 2, 45, 68, 98, 754, 66666]
[1, 4, 5, 8, 7, 9, 2555555, 6, 2, 45, 68, 98, 754, 66666]
[1, 4, 5, 8, 7, 9, 2555555, 6, 2, [5], 45, 68, 98, 754, 66666]
[1, False, 4, 5, 8, 7, 9, 2555555, 6, 2, [5], 45, 68, 98, 754, 66666]

In [20]:
numeric = [1,3,5,4,6,8]

numeric.insert(5,[6666])

print(numeric)

[1, 3, 5, 4, 6, [6666], 8]

In [22]:
numeric = [1,3,5,4,6,8]

print(numeric.insert(5,[6666]))

None

In [29]:
numeric = [1,2,3,4]
numeric.insert(4,5)
print(numeric)

numeric.insert(-1,5)
print(numeric)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 5]

In [30]:
print(numeric.append(999))

None

### .remove()   siler //   .sort()     siralar kucuk olan kucuk buyuk olan buyuk buyuk harf öncelikli

In [66]:
number = [1,4,7,9]
number.remove(7)
print(number)

[1, 4, 9]

In [67]:
print(number.remove(9))

None

In [36]:
number = [1,4,7,9,666,8,9854789,75]
number.sort()
print(number)

[1, 4, 7, 8, 9, 75, 666, 9854789]

In [38]:
city = ["Istanbul","ankara","Konya","Kayseri","Kocaeli","kahramanmaras","luleburgaz"]  # Siralamada öncelik buyuk harflere verilir
city.sort()
print(city)

['Istanbul', 'Kayseri', 'Kocaeli', 'Konya', 'ankara', 'kahramanmaras', 'luleburgaz']

In [62]:
mix_list = ["d",1,"a",7]  # string ile int ayni anda islem yapmiyor 
mix_list.sort()
print(mix_list)

TypeError: '<' not supported between instances of 'int' and 'str'

In [63]:
list_1 = ["one","four","nine"]
list_1.sort
print(list_1)

['one', 'four', 'nine']

In [43]:
list_2 = ["@", "*", "False"]
print(list_2)

['@', '*', 'False']

In [44]:
ord("@")  # ord fonksiyonunu Unicodlarin degerini ögrenmek icin kullaniriz

64

ord("*-")

In [46]:
ord("*")

42

In [48]:
ord("F")

70

In [53]:
chr(56)  # ord fonksiyonun tersi

'8'

In [54]:
chr(64)

'@'

In [59]:
xx = [True,False]   # False 0 degerinde veya bos kumedir True ise 
xx.sort()
print(xx)

[False, True]

In [60]:
list = [[-12], [5], [2]]
list.sort()
print(list)

[[-12], [2], [5]]

In [61]:
list = [[-12,"aan"], [5,"sjccbsjk"], [2,"jdsb jsdhs"]]  # ilk elemanlarina göre siraladi
list.sort()
print(list)

[[-12, 'aan'], [2, 'jdsb jsdhs'], [5, 'sjccbsjk']]

In [65]:
yy = [[1],[15],[2],[455],[8]]  # sort ile siralam kucukten buyuge olur
yy.sort(reverse=True)          # ancak reverse ile durum tersine cevrilir buyukten kucuge döner           
print(yy)

yy.sort()
print(yy)

[[455], [15], [8], [2], [1]]
[[1], [2], [8], [15], [455]]

In [68]:
city = ["sakarya0", "Isxtanbul","Helsinki","Kisraehir", "ankara","Turku"]
city.sort()
print(city)

['Helsinki', 'Isxtanbul', 'Kisraehir', 'Turku', 'ankara', 'sakarya0']

In [71]:
city.sort(reverse=True)  # reverse  False degerindedir onu True yaparsak tersine ceviriri
print(city)

['sakarya0', 'ankara', 'Turku', 'Kisraehir', 'Isxtanbul', 'Helsinki']

In [76]:
new = ["H","a","l",["p",5],True]
print(new)

print(new[3])
print(new[4])

['H', 'a', 'l', ['p', 5], True]
['p', 5]
True

In [78]:
print(type(new[4]))
print(type(new[3]))

<class 'bool'>
<class 'list'>

In [84]:
city = [["sakarya", "Istanbul","Helsinki","Kirsehir", "ankara","Turku"]]

In [88]:
print(city[0][3])
print(city[0][3][3])

Kirsehir
s

In [94]:
c = [[15,19,17,16,18,13]]  # ikisinin arasindaki fark muazzam
print(c[0][::-1])
print(c[::-1])
print(len(c))

[13, 18, 16, 17, 19, 15]
[[15, 19, 17, 16, 18, 13]]
1

In [101]:
print(len([[12,11,15,6]][0]))  # ilk listenin eleman sayisini veriyor

4

### range oparatöru siralamaya yarar list fonksiyonu

In [1]:
odd = list(range(1,11))
odd

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
number_list = list(range(1,11))
print(number_list)

print(list(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
print(number_list[::2])

[1, 3, 5, 7, 9]

In [30]:
numeric = list(range(5,100))
print(numeric)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [33]:
print(numeric[5:100:5])

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [35]:
print(numeric[3:99:9])

[8, 17, 26, 35, 44, 53, 62, 71, 80, 89, 98]

In [38]:
odd = list(range(0,100))
print(odd)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [39]:
print(odd[0:100:13])

[0, 13, 26, 39, 52, 65, 78, 91]

In [43]:
mix_list = [1, [1, "one", 2, "two", 3, "three"],4 ]
print(mix_list[1][1:6:2])

['one', 'two', 'three']

In [51]:
x = "Ankara"
print(*x)

A n k a r a

In [55]:
print("{city} is the most {adjective} city of the {country}".format(city = "Ankara",adjective = "popular",country = "Turkey"))

Ankara is the most popular city of the Turkey

In [56]:
print("{} is the most {} city of the {}".format("Ankara", "popular", "Turkey"))

Ankara is the most popular city of the Turkey

In [57]:
print("{0} is the most {2} city of the {1}".format("Ankara", "popular", "Turkey"))

Ankara is the most Turkey city of the popular

In [59]:
print("{} is the most {adjective} city of the {country}".format("Ankara",adjective = "popular",country = "Turkey"))

Ankara is the most popular city of the Turkey

In [60]:
print("{adjective} is the most {} city of the {country}".format("Ankara",adjective = "popular",country = "Turkey"))

popular is the most Ankara city of the Turkey

In [66]:
condition = "circumstances"
morality = "generosity"

phrase = "{morality} {1} {0} {condition} ".format( "in all", "wins", morality = "generosity", condition = "circumstances")
print(phrase)

generosity wins in all circumstances

In [72]:
condition = "circumstances"  # duzgun bir cumle olmasi icin positionallarin sirasini duzelttik   
morality = "generosity"

phrase = "{morality} {} {} {condition} ".format("wins", "in all", morality = "generosity", condition = "circumstances")
print(phrase)

generosity wins in all circumstances

In [67]:
özlu_söz = " İstiklal, istikbal, {} ve herşey {} kaimdir.".format("hurriyet","adaletle") # positional argumantlarda\
                                                                                         #   sira önemlidir

print(özlu_söz)

 İstiklal, istikbal, hurriyet ve herşey adaletle kaimdir.

In [71]:
özlu_söz = " İstiklal, istikbal, {} ve herşey {} kaimdir.".format("adaletle", "hurriyet")
özlu_söz

' İstiklal, istikbal, adaletle ve herşey hurriyet kaimdir.'

In [2]:
my_list = list(range(1,11))
my_list.sort() 
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
my_second_list = list(range(1,11))  # Reverse normalde False dur ancak True ya esitlenirse islem tersine döner
my_second_list.sort(reverse=True)
print(my_second_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
flowers = [["Jasmine", ["Lavender","rose"],"tulip"]]
colors = ["red",("blue",["yellow","green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2],flowers[0][1][1],colors[1][0],colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [15]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clarusway.com will open your path.

In [16]:
print("clarusway" + str(2020))

clarusway2020

In [25]:
count = list(range(25))  # range fonksiyonu ile siralama yapariz
print(count)

print(count[20::-1])
print(count[0:19:3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 3, 6, 9, 12, 15, 18]

### Tuple  (Demetler)   Degistirilemezler

In [27]:
firstly_tuple = ("Love")

print(type(firstly_tuple))

<class 'str'>

In [28]:
firstly_tuple = ("Love",)  # tek kelimelik bir satiri tupple olarak nitelendirmek icin virgul kullaniriz

print(type(firstly_tuple))

<class 'tuple'>

In [29]:
print(type(str(firstly_tuple)))

<class 'str'>

In [36]:
planets = ("mercury","Jupiter","starun")
print(type(planets))

planets.count()
print(planets)

<class 'tuple'>

TypeError: count() takes exactly one argument (0 given)

In [31]:
mountain = ("Erciyes")
print(mountain)

Erciyes

In [32]:
print(tuple(mountain))  # string Tuple cevirilirse elemanlarina ayrilir

('E', 'r', 'c', 'i', 'y', 'e', 's')

In [41]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print(letters[7:3:-1])
print(letters[2:6:-1])

['h', 'g', 'f', 'e']
[]

In [39]:
harfler = "a b c d e f g h i j".split()  #
harfler

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [43]:
"a-b-c-d".split("-")

['a', 'b', 'c', 'd']

In [46]:
sorted(["ahmet","mehmet","ceylan","seyhan"])  # degiskeni siralar

['ahmet', 'ceylan', 'mehmet', 'seyhan']

In [48]:
sorted_isimler = sorted(isimler)
sorted_isimler

NameError: name 'isimler' is not defined

In [50]:
isimler = "ahmet","mehmet","ceylan","seyhan" 
isimler

('ahmet', 'mehmet', 'ceylan', 'seyhan')

In [2]:
sehirler = ["tokyo","addis ababa","rio","rome","istanbul"]

In [7]:
sorted(sehirler)

['addis ababa', 'istanbul', 'rio', 'rome', 'tokyo']

In [8]:
  sorted(sehirler,key=len,reverse =True)  # key parametresi ile 
                                    # nasil siralamak istedigimizi belirtiyoruz 
                                        #reverse ile

['addis ababa', 'istanbul', 'tokyo', 'rome', 'rio']

In [9]:
  sorted(sehirler,key=len)

['rio', 'rome', 'tokyo', 'istanbul', 'addis ababa']

In [13]:
sehirler.sort()
print(sehirler)

['addis ababa', 'istanbul', 'rio', 'rome', 'tokyo']

In [15]:
sorted(sehirler)
print(sehirler)

['addis ababa', 'istanbul', 'rio', 'rome', 'tokyo']

In [ ]:
import sys

In [3]:
x = [1,2,3]
y = (1,2,3)

In [4]:
print(sys.getsizeof(x))
print(sys.getsizeof(y))

NameError: name 'sys' is not defined

In [8]:
benim = ["a","b","c"]
print(tuple(benim))

('a', 'b', 'c')

In [9]:
aa = "a","b","c"   # parantezi koysak da koymasak da parantezli gibi algiliyor
aa

('a', 'b', 'c')

In [10]:
type(aa)

tuple

In [12]:
number = tuple(range(1,11))
print(number)
type()

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
print(False or {0} and [])

[]

In [19]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
sentence = f"The less you {var1} and {var2}, the {var3} your {var4} will be."
print(sentence)

The less you sleep and eat, the better your life will be.

In [9]:
city = "SARAJEVO"
text = f"I live in {city.capitalize()}."
print(text)

I live in Sarajevo.

In [10]:
s = r"Hello\tfrom AskPython\nHi"  # raw string kacis dizinini kullanma demek
print(s)

Hello\tfrom AskPython\nHi

In [11]:
print("new" "line")

newline

In [12]:
print("new" "line" "end" 3)

SyntaxError: invalid syntax (<ipython-input-12-693762d2e4e6>, line 1)

In [13]:
print("new" "line" "end", 3)

newlineend 3

In [2]:
first_dict = {1 : "one", "two" : 2, False : [1,2,3], 1.5 : ("one","two")} 
print(first_dict)

{1: 'one', 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two')}

In [3]:
first_dict = {1 : "one", "two" : 2, False : [1,2,3], 1.5 : ("one","two"),(1,2) : "clrswy"} 
print(first_dict)

{1: 'one', 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two'), (1, 2): 'clrswy'}

In [4]:
first_dict = {[1,2] : "one", "two" : 2, False : [1,2,3], 1.5 : ("one","two")} 
print(first_dict)

TypeError: unhashable type: 'list'

In [5]:
second_dict = {{1 : "bir"} : "one", "two" : 2}
second_dict

TypeError: unhashable type: 'dict'

In [ ]:
 xx = dict(bir = "one", iki = "two")

In [ ]:
sehir = "istanbul"
sehir1 = "ankara"
nufys = 1000

In [6]:
family = {"name1" : "Akif",
          "name2" : "Orhan",
          "namé3" : "Bengisu"}

print(family)

{'name1': 'Akif', 'name2': 'Orhan', 'namé3': 'Bengisu'}

In [8]:
family = {"name1" : "Akif",
          "name2" : "Orhan",
          "namé3" : "Bengisu"}

family["name"] = "Ali"

print(family)

{'name1': 'Akif', 'name2': 'Orhan', 'namé3': 'Bengisu', 'name': 'Ali'}

In [10]:
family = {"name1" : "Akif",
          "name2" : "Orhan",
          "namé3" : "Bengisu"}

family["name4"],["name5"] = "Ali" ,"Selim"  # bir esittir ile bir taANE EKLENIR

print(family)

SyntaxError: cannot assign to literal (<ipython-input-10-f4bd8cd3be65>, line 5)

In [12]:
family = dict(name1 = "ramiz", name2 = "Ahmet", name3 = "Serkn")
family

{'name1': 'ramiz', 'name2': 'Ahmet', 'name3': 'Serkn'}

In [18]:
family = {"name1" : "Akif",
          "name2" : "Orhan",
          "namé3" : "Bengisu"}

print(list(family.items()),"\n")
print(list(family.keys()),"\n")
print(list(family.values()),"\n")

[('name1', 'Akif'), ('name2', 'Orhan'), ('namé3', 'Bengisu')]

['name1', 'name2', 'namé3']

['Akif', 'Orhan', 'Bengisu']

In [20]:
family.update({"a" : 1, "b" : 2})  #  birden fazla ekleme yaptik
family

{'name1': 'Akif', 'name2': 'Orhan', 'namé3': 'Bengisu', 'a': 1, 'b': 2}

In [36]:
family = {"name1" : "Akif",
          "name2" : "Orhan",
          "namé3" : "Bengisu"}

family.update ({"name4" : "Alp"})
family

{'name1': 'Akif', 'name2': 'Orhan', 'namé3': 'Bengisu', 'name4': 'Alp'}

In [35]:
family = {"name1" : "Akif",
          "name2" : "Orhan",
          "namé3" : "Bengisu"}

del family["name2"] 
family

{'name1': 'Akif', 'namé3': 'Bengisu'}

In [34]:
family = {"name1" : "Akif",
          "name2" : "Orhan",
          "namé3" : "Bengisu"}

del family["name1"], family["name2"]  # ayni anda ikisini sildik 
print(family)

{'namé3': 'Bengisu'}

In [33]:
del.family()
family

SyntaxError: invalid syntax (<ipython-input-33-90900fa399b1>, line 1)

In [44]:
family = {"name1" : "Akif",
          "name2" : "Orhan",
          "namé3" : "Bengisu"}

"name1" in family

True

In [43]:
"ahmet" in family

False

In [38]:
"name5" not in family

True

In [39]:
"bir" in ["bir", "iki","uc","dört"]

True

In [ ]:
"bell"

In [45]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [1]:
print(school_records["grades_info"]["teen"]["Joseph"]["class"])

NameError: name 'school_records' is not defined

In [8]:
friends = {
     "friends1" : {"First_name" : "Akif" , "last_name" : "Kyr"},
     "friends2" : {"First_name" : "Orh" , "last_name" : "Kyr"},
     "friends3"  : {"First_name" : "Zeki" , "last_name" : "Tas"},
     "friends4" : {"First_name" : "Nihl" , "last_name" : "Tas"}
        }
print(friends)

{'friends1': {'First_name': 'Akif', 'last_name': 'Kyr'}, 'friends2': {'First_name': 'Orh', 'last_name': 'Kyr'}, 'friends3': {'First_name': 'Zeki', 'last_name': 'Tas'}, 'friends4': {'First_name': 'Nihl', 'last_name': 'Tas'}}

In [10]:
favorite = {

"friends" : {
     "friends1" : {"First_name" : "Akif", "last_name" : "Kyr"},
     "friends2" : {"First_name" : "Orh", "last_name" : "Kyr"},
     "friends3"  : {"First_name" : "Zeki", "last_name" : "Tas"}
        },
    "family" : {
     "family1" : {"First_name" : "Ser" , "last_name" : "Kyr"},
     "family2" : {"First_name" : "Orh" , "last_name" : "Kyr"},
     "family3"  : {"First_name" : "Zeki" , "last_name" : "Tas"},
    }
    }
    
print(favorite)

{'friends': {'friends1': {'First_name': 'Akif', 'last_name': 'Kyr'}, 'friends2': {'First_name': 'Orh', 'last_name': 'Kyr'}, 'friends3': {'First_name': 'Zeki', 'last_name': 'Tas'}}, 'family': {'family1': {'First_name': 'Ser', 'last_name': 'Kyr'}, 'family2': {'First_name': 'Orh', 'last_name': 'Kyr'}, 'family3': {'First_name': 'Zeki', 'last_name': 'Tas'}}}

In [11]:

C8270 - Emir  2 hours ago
favourite = {
"friends" : {
    "friend1": {"first": "sue", "last": "bold"},
    "friends2": {"firs": "steve", "last": "smith"},
    "friends3": {"firs": "joseph", "last": "hoca"}
},
"family" : {
    "family1": {"first": "dede", "last": "çelik"},
    "family2": {"firs": "baba", "last": "büyük"},
    "family3": {"firs": "çocuk", "last": "adam"}
}
}

SyntaxError: invalid syntax (<ipython-input-11-a04ade942223>, line 1)

In [1]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red'

print(set_1)

{'red', 'blue', 'pink'}

In [2]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red'
set_2 = set (colors)
print(set_1)  # 2 olanlari birerkere yazdi
print(set_2)

{'red', 'blue', 'pink'}
{'red', 'blue', 'pink'}

In [3]:
letter = " a b c d e f g h i j k l m n o p r s t u v y z".split()
print(letter)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'y', 'z']

In [4]:
print(set(letter))

{'t', 'm', 'y', 'p', 'k', 'r', 'o', 'u', 'f', 's', 'a', 'c', 'v', 'b', 'n', 'd', 'e', 'h', 'l', 'j', 'i', 'g', 'z'}

In [3]:
letter1 = " d e f a b c  g h i j k l p r s t u v y z m n o "
print(letter1)

 d e f a b c  g h i j k l p r s t u v y z m n o

In [4]:
print(set(letter1))

{'a', 'v', 'm', ' ', 'k', 'g', 'f', 'p', 'n', 'c', 'b', 'e', 's', 'j', 'o', 't', 'u', 'y', 'l', 'h', 'i', 'r', 'z', 'd'}

In [5]:
test = {1, "bir", 1.0}  # int 1 ile fload 1.0 ayni kabul ediyor 
len(test)

2

In [6]:
1 == 1.0

True

### DICT { "KEY1" : "VALUE1"      programlarda bazi degerleri cekmek icin kulla<<nilir
            "KEY2 "  :"VALUE2"}

In [2]:
FIRST_DICT = {1 : "one", "two" : 2, False : [1,2,3], 1.5 : ("one", "two"), (1,2) : "clrsa"}  # Dict de bir cok sey kullanilibiliniyor
FIRST_DICT

{1: 'one', 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two'), (1, 2): 'clrsa'}

In [3]:
FIRST_DICT = {1 : "one", "two" : 2, {1 : "bir"} : {2 : "iki"}}  # dict icersiinde KEY dic olamiyor
FIRST_DICT

TypeError: unhashable type: 'dict'

In [4]:
grocer1 = {"fruit" : "apple", "drink" : "water"}
grocer2 = dict(fruit = "apple", drink = "water")

print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [5]:
xx = dict(bir = "one", iki = "two")
xx

{'bir': 'one', 'iki': 'two'}

In [6]:
bir = "one"
bir

'one'

In [7]:
xx = dict(bir = "one",
          iki = "two")xx

{'bir': 'one', 'iki': 'two'}

In [10]:
sehir = "istanbul"
sehir1 = "Ankara"

sehirler = {1 : sehir, 2 : sehir1}
sehirler

{1: 'istanbul', 2: 'Ankara'}

In [14]:
sehirler[2]

'Ankara'

In [15]:
type(sehirler[2])

str

In [17]:
sehirler = {1 : sehir, 2 : sehir1,"nufusum" : 1000}  # dict de Indexleme yani sözlugun icerisindeki degerler ulasma 

sehirler 

sehirler["nufusum"]

1000

In [18]:
sehirler[3] = "Kayseri"   # Sözluge yeni deger atama    adding anew items
sehirler

{1: 'istanbul', 2: 'Ankara', 'nufusum': 1000, 3: 'Kayseri'}

In [20]:
sehirler[1] = "Trabzon" # mevcur deger 
sehirler

{1: 'Trabzon', 2: 'Ankara', 'nufusum': 1000, 3: 'Kayseri'}

In [9]:
family = {"name1" : "Akif", 
          "name2" : "Orhan",
          "name"  : "Nihal"
         }
print(family)

{'name1': 'Akif', 'name2': 'Orhan', 'name': 'Nihal'}

In [8]:
family["name4"] = "Ramazan"
print(family)

{'name1': 'Akif', 'name2': 'Orhan', 'name': 'Nihal', 'name4': 'Ramazan'}

In [41]:
family["name5"] = "Meral"
print(family)

{'name': 'Nihal', 'a': 1, 'b': 2, 'name5': 'Meral'}

In [16]:
family ["name4"] = "selam"
family

{'name1': 'Akif',
 'name2': 'Orhan',
 'name': 'Nihal',
 'name5': 'Meral',
 'name4': 'selam'}

In [17]:
dict_by_dict = { "animal" : "dog",
                 "planet" : "neptun", 
                 "number" : 40,
                 "pi"     : 3.14,
                 "is_good":True
                   }
print(dict_by_dict.items(), "\n")  # her bir items Tuple olarak ayriliyor
print(dict_by_dict.keys(), "\n")
print(dict_by_dict.values(), "\n")

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [22]:
family = {"name1" : "Akif", 
          "name2" : "Orhan",
          "name"  : "Nihal"
         }
print(list(family.items()), "\n")
print(list(family.keys()), "\n")
print(list(family.values()), "\n")

[('name1', 'Akif'), ('name2', 'Orhan'), ('name', 'Nihal')]

['name1', 'name2', 'name']

['Akif', 'Orhan', 'Nihal']

### update methodu  ekleme yapar   x.update({ "x" : "y"})

In [25]:
dict_by_dict = { "animal" : "dog",
                 "planet" : "neptun", 
                 "number" : 40,
                 "pi"     : 3.14,
                 "is_good":True
                   }

dict_by_dict.update({"is_bad" : False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [27]:
family = {"name1" : "Akif", 
          "name2" : "Orhan",
          "name"  : "Nihal"
         }
family

{'name1': 'Akif', 'name2': 'Orhan', 'name': 'Nihal'}

In [31]:
family.update({"a" : 1, "b" : 2})
family

{'name1': 'Akif', 'name2': 'Orhan', 'name': 'Nihal', 'a': 1, 'b': 2}

In [38]:
family.update({"name1" : "Belkiz"})  # update ile guncellestirdik  
print(family)

{'name': 'Nihal', 'a': 1, 'b': 2, 'name1': 'Belkiz'}

### del key word ile sileriz      del name[" "]

In [37]:
del family["name1"]
family

{'name': 'Nihal', 'a': 1, 'b': 2}

In [40]:
del family["name1"]
family

{'name': 'Nihal', 'a': 1, 'b': 2}

In [42]:
family["name5"] = "Meral"
print(family)

{'name': 'Nihal', 'a': 1, 'b': 2, 'name5': 'Meral'}

In [4]:
family = {"name1" : "Akif", 
          "name2" : "Orhan",
          "name"  : "Nihal",
          "name3" : "Meral",
          "name4" : "Ramazan"}
family

{'name1': 'Akif',
 'name2': 'Orhan',
 'name': 'Nihal',
 'name3': 'Meral',
 'name4': 'Ramazan'}

In [6]:
del family["name"]
del family["name3"]

print(family)

{'name1': 'Akif', 'name2': 'Orhan', 'name4': 'Ramazan'}

In [12]:
del family["name"],family["name3"]  # tek satirda silmek icin 
print(family)

{'name1': 'Akif', 'name2': 'Orhan', 'name4': 'Ramazan'}

In [7]:
family

{'name1': 'Akif', 'name2': 'Orhan', 'name4': 'Ramazan'}

In [16]:
 "name1" in family

True

In [17]:
"name" in family

True

In [18]:
"name5" in family  # icerisindse var mi

False

In [20]:
"name5" not in family  # icerisind yok dgil mi

True

In [22]:
"meral" in family.values()

False

In [23]:
"Meral" in family.values()

True

In [5]:
"ramazan" in family.values()  # Buyuk harf duyarliligi var

False

In [25]:
"Ramazan" in family.values()

True

In [27]:
print("Ramazan" in family.values())

True

In [28]:
print("Ramazan" in family)

False

In [29]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [33]:
school_records["personal_info"]["teen"]["marry"]["age"]

16

In [35]:
school_records["grades_info"]["teen"]["joseph"]

{'coding': 80, 'math': 89}

In [39]:
list(school_records["grades_info"]["teen"]["joseph"].items())  # söxzlugun her lbir elemanini items ileeve list index ile

[('coding', 80), ('math', 89)]

In [40]:
friends ={
         "friend1" : {"first" : "sue", "last" : "Bold"},
         "friend2" : {"first" : "Maria", "last" : "Akar"},
         "friend3" : {"first" : "Sergio", "last" : "Andersson"}
}

In [41]:
friends

{'friend1': {'first': 'sue', 'last': 'Bold'},
 'friend2': {'first': 'Maria', 'last': 'Akar'},
 'friend3': {'first': 'Sergio', 'last': 'Andersson'}}

In [3]:
favorite = {
 "friends" : {
     "friends1" : {"first" : "Huseyin", "last" : "Kaya"},
     "friends2" : {"first" : "Mehmet", "last" :"Belkiz"},
     "friends3" : {"first" : "Mustafa", "last" : "Kayaer"}
     },

"Family" : {
    "family1" : {"first" : "Kaya", "last" : "Deniz"},
    "family2" : {"first" : "Sevgi", "last" : "Akar"},
    "family3" : {"first" : "Selam", "last" : "Cosar"}
    }
}   
    

print(favorite)

{'friends': {'friends1': {'first': 'Huseyin', 'last': 'Kaya'}, 'friends2': {'first': 'Mehmet', 'last': 'Belkiz'}, 'friends3': {'first': 'Mustafa', 'last': 'Kayaer'}}, 'Family': {'family1': {'first': 'Kaya', 'last': 'Deniz'}, 'family2': {'first': 'Sevgi', 'last': 'Akar'}, 'family3': {'first': 'Selam', 'last': 'Cosar'}}}

In [14]:
family = {"name1" : "Akif",
          "name2" : "Orhan",
          "name"  : "Nihal",
          "name3" : "Meral",
          "name4" : "Ramazan"}
family

{'name1': 'Akif',
 'name2': 'Orhan',
 'name': 'Nihal',
 'name3': 'Meral',
 'name4': 'Ramazan'}

In [7]:
print("Ramazan" in family.values())

True

In [17]:
print("Ramazan" in family)

False

In [16]:
"name1" in family

True

###  SET (KUMELER)   { }  KULLNILIR ANCAK : YOKTUR

In [25]:
set_1 ={"red","blue","pink"}
print(set_1) 

colors = "red","blue","pink","pink"   #  set her bir elemani bir kere yazar
set_2 = set(colors)
print(set_2)
print(colors)

{'blue', 'pink', 'red'}
{'blue', 'pink', 'red'}
('red', 'blue', 'pink', 'pink')

In [1]:
letter = "a b c d e f g h i j k l m n o ö p r s t u v y z".split()

print(letter)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'ö', 'p', 'r', 's', 't', 'u', 'v', 'y', 'z']

In [2]:
print(set(letter))

{'f', 'z', 'g', 'b', 'r', 'l', 'p', 'a', 'ö', 'y', 's', 't', 'm', 'i', 'n', 'k', 'd', 'c', 'u', 'v', 'j', 'e', 'h', 'o'}

In [5]:
letter1 = " d e f g h ö p r s u v y z i j k l a b c m n o t ".split()
print(letter1)
print(set(letter1))

['d', 'e', 'f', 'g', 'h', 'ö', 'p', 'r', 's', 'u', 'v', 'y', 'z', 'i', 'j', 'k', 'l', 'a', 'b', 'c', 'm', 'n', 'o', 't']
{'f', 'z', 'g', 'b', 'r', 'l', 'h', 'p', 'a', 'ö', 'y', 's', 't', 'm', 'i', 'n', 'k', 'd', 'c', 'v', 'j', 'e', 'u', 'o'}

In [6]:
flower_list = ["rose" , "violet", "Carnation", "rose", "orchid", "rose"]
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerlist)  # list icerisinde
print(flowerset)  # suslu parentez ve tek elemanli

['rose', 'orchid', 'Carnation', 'violet']
{'rose', 'orchid', 'Carnation', 'violet'}

In [20]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
student_ages

{'Harry': 29, 'Clark': 32, 'Peter': 22, 'Bruce': 36}

In [22]:
print(student_ages["Clark"])

32

In [6]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}

print(customers["insurance"][5]["age"])

22

In [8]:
print(customers["bank"][3]["name"])
print(customers["bank"][5]["sex"])

Andy
Female

In [10]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [17]:
colorset = {"purple", "orange","red", "darkblue", "yellow", "red"}

print(colorset)
print(colorset)

{'orange', 'yellow', 'purple', 'red', 'darkblue'}
{'orange', 'yellow', 'purple', 'red', 'darkblue'}

In [18]:
a = set("umbrella")  # 
print(a)

{'u', 'a', 'e', 'r', 'l', 'b', 'm'}

In [23]:
flower_list = ["rose", "violeyt", "carnation", "rose", "orchid"]

flowerset = set(flower_list)
flowerlist = list(flowerset)   #list olarak ayni ciktiyi veriyor set 
                               # oldugunda ciftler teke dusuyor

print(flowerset)
print(flowerlist)

{'rose', 'violeyt', 'carnation', 'orchid'}
['rose', 'violeyt', 'carnation', 'orchid']

In [29]:
#set([[1,2],[3,4],[4,5]])
set([1,2,2,3,4,5])
#{1,2,3,4}
#set((1,2,3,4))

{1, 2, 3, 4, 5}

In [31]:
a = set("abracadabra")
a

{'a', 'b', 'c', 'd', 'r'}

In [33]:
a = set("abracadabra")  # setlerde differens methodu 
b = set("alacazm")

print(a-b)     
print(a.difference(b))

{'r', 'd', 'b'}
{'r', 'd', 'b'}

In [35]:
a = set("abracadabra")  # union kesisim olanlari birkez kullanir iki kumenin 
                         # birlestirilmesi
b = set("alacazm")

print(a | b)
print(a.union(b))

{'a', 'z', 'r', 'd', 'b', 'l', 'm', 'c'}
{'a', 'z', 'r', 'd', 'b', 'l', 'm', 'c'}

In [37]:
a = set("abracadabra")   # intersection methodu ortak elemanlari verir  Kesisim
b = set("alacazm")

print(a & b)
print(a.intersection(b))

{'a', 'c'}
{'a', 'c'}

In [43]:
a = set("abracadabra")   # add eklme yapar

a.add("z") 
a

{'a', 'b', 'c', 'd', 'r', 'z'}

In [53]:
a = set("abracadabra")   # remove siler

a.remove("c") 
print(a)
print(len(a))

{'a', 'r', 'd', 'b'}
4

In [63]:
a = set("abracadabra") 

print("a" . in a)

SyntaxError: invalid syntax (<ipython-input-63-4d472bd835ca>, line 3)

In [64]:
a = set("1234668")
a

{'1', '2', '3', '4', '6', '8'}

In [68]:
print("2" in a)

True

In [67]:
print(len(set('listen to the voice of enlisted')))

13

In [69]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [1]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1,20)
print(numbers_10)

numbers_10.insert(5,555)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 555, 60, 70, 80, 90, 100]

In [2]:
numbers_10.insert(6,666)
print(numbers_10)

[10, 20, 30, 40, 50, 555, 666, 60, 70, 80, 90, 100]

In [3]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [4]:
#list['123']
#list[123]
[]
#()
list(123)
[True, []]
[123]
list()

TypeError: 'type' object is not subscriptable

In [15]:
list(123)

TypeError: 'int' object is not iterable

In [ ]:
bos = set()

In [ ]:
bos.

In [18]:
a = set('philadelphia')
b = set('dolphin')

print(a union(b))

SyntaxError: invalid syntax (<ipython-input-18-3625aafc3b50>, line 4)

In [19]:
set("04/14/2021")  # sadece birf elemani aldi

{'/', '0', '1', '2', '4'}

In [23]:
list("04/14/2021")

['0', '4', '/', '1', '4', '/', '2', '0', '2', '1']

In [22]:
degisken = {"04/14/2021"}  
print(degisken)
type(degisken)

{'04/14/2021'}

set

In [25]:
given_list = [1,2,3,3,3,4,4,5,5]

In [26]:
set(given_list)  # unig lerinizi bulduk

{1, 2, 3, 4, 5}

In [30]:
a = set("Washinhton")
b = set("Wellington")

print(a.difference(b))
print(a.union(b))
print(b.difference(a))
print(b.union(a))
print(a.intersection(b))

{'a', 'h', 's'}
{'h', 'o', 'i', 'n', 'g', 'e', 'W', 't', 'a', 'l', 's'}
{'l', 'e', 'g'}
{'h', 'o', 'i', 't', 'n', 's', 'g', 'e', 'l', 'a', 'W'}
{'o', 'i', 'n', 't', 'W'}

In [21]:
a = set("philadelphia")   # set de elemanlari tek aliyor
b = set("dolphin")

print(a)
print(b)

{'d', 'h', 'p', 'l', 'i', 'e', 'a'}
{'d', 'h', 'p', 'n', 'l', 'o', 'i'}

In [22]:
x = a.intersection(b)  # kesisim elemanlarini veriyor ortak eelmanlarini
print(x)

{'d', 'h', 'p', 'l', 'i'}

In [23]:
y = a.union(b)  # union methodu bilesenlerini verir
y

{'a', 'd', 'e', 'h', 'i', 'l', 'n', 'o', 'p'}

In [26]:
z = a.difference(b)  # a fark b 
z

{'a', 'e'}

In [4]:
date = {"04/16/2021"}  # bu sekilde olusan kume tek elemanli oluyor 
print(date)
print(type(date))

{'04/16/2021'}
<class 'set'>

In [3]:
set("04/16/2020")  # bu sekilde butun elemaalarina ayiriyor

{'/', '0', '1', '2', '4', '6'}

###  Task  Given a list create a set to select and print the unique elements of the it

In [9]:
given_list = [1,2,3,3,3,4,4,5,5]  # uniq elemanlari bulmamizi istiyor o da kume ile bulunur
print(set(given_list))

{1, 2, 3, 4, 5}

### Task : Create two sets of string data from the capitals of t he USA and New Zealand
-Perform all set operations 
intersection
union 
Difference

In [14]:
country1 = set("Washington")
country2 = set("Wellington") 

print(country1)
print(country2)





y = country1.union(country2)
print(y)



print(country1 - country2)

{'t', 'o', 'g', 'a', 'i', 'h', 'n', 's', 'W'}
{'t', 'o', 'g', 'i', 'n', 'e', 'W', 'l'}
{'t', 'o', 'g', 'a', 'i', 'h', 'n', 's', 'e', 'W', 'l'}
{'s', 'a', 'h'}

In [18]:
x = country1.intersection(country2)  #  ortak elemanlari bulma yöntemi kesisim kumeleri
print(x)

print(country1 & country2)

{'o', 'g', 'i', 'n', 't', 'W'}
{'o', 'g', 'i', 'n', 't', 'W'}

In [17]:
z = country1.difference(country2) # Farklari
print(z)

print(country1-country2)

{'s', 'a', 'h'}
{'s', 'a', 'h'}

In [32]:
print("hello")
print("clarusway")
print("world")

hello
clarusway
world

In [ ]:
if condition:
    body
    body2
    body

In [34]:
if True:
    print("it is true")

it is true

In [36]:
if False:
    print("it is false")

In [37]:
if 1:
    print("ben")

ben

In [38]:
if 0:
    print("ben")

In [39]:
if None:
print("1")

In [41]:
minced = True
bread = True

#greens
lettuce = False
pepper = False

store = True

In [44]:
hamburger = (minced and store and bread) and (lettuce or pepper)

In [45]:
hamburger

False

In [53]:
a = set("TWELVE PLUS ONE")
b = ("ELEVEN PLUS TWO")
a
b

'ELEVEN PLUS TWO'

In [51]:
a == b

True

In [52]:
print(a==b)

True

In [59]:
a = input("write your answer Yes or No : ").title().strip() == "Yes"  # Ne girerse girsin bas harfi buyuk digerleri kucuk olur
if a =="Yes":                                       #  strip basindan ve sonun dan bosluklari aliyor       
    print(True)

write your answer Yes or No : yes

In [60]:
convert = input("Enter Yes or No : ").title().strip() == "Yes"
print("You entered :", convert)

Enter Yes or No : yes
You entered : True

In [ ]:
print("You entered :",input("Enter Yes or No : ").title().strip() == "Yes")

In [2]:
number = int(input("Enter a number : "))  #  sayi cift mi tek mi 
if number %2 == 0 :
    print("{} is Even".format(number))
else :
    print("{} is Odd".format(number))

Enter a number : 15
15 is Odd

In [1]:
number = float(input("You entered a number : "))
if number > 0 :
    print("positive number")
else:
    print("Negatif number")

You entered a number : 654
positive number

In [3]:
number1 = float(input("Enter number 1:  "))
number2 = float(input("Enter number 2: "))

if number1 > number2:
    print("number1 bigger than number2")
else :
    print("number2 bigger than number1")

Enter number 1:  65
Enter number 2: 98
number2 bigger than number1

In [4]:
number1 = float(input("Enter number 1:  "))
number2 = float(input("Enter number 2: "))

if number1 > number2 :
    larger = number1
else :
    larger = number2
    
print("The larger number is :",larger)

Enter number 1:  15
Enter number 2: 35
The larger number is : 35.0

In [ ]:
number1 = float(input("Enter number 1:  "))
number2 = float(input("Enter number 2: "))

if number1 > number2 : 
    print("the larger number ")

In [5]:
convert = True
if  convert :
    print("Yes")
else :
    print("No")

Yes

In [2]:
bool_value = False

In [3]:
if bool_value : 
    print("Yes")
else:
    print("No")

No

In [1]:
seat_number = 15

if seat_number > 5:
    print("There is a stiil to seat")

There is a stiil to seat

In [2]:
5 == 5

True

In [3]:
5 != 5

False

In [5]:
5 =! 5

SyntaxError: cannot assign to literal (<ipython-input-5-3b292c046153>, line 1)

In [6]:
6 != 8

True

In [7]:
18 >= 30

False

In [9]:
course = "clarusway"

if course == "clarusway":
    print("you guarnteed the job")
else:
    print("think aboub it again")

you guarnteed the job

In [10]:
number = 10
if number <=5:
    print("Number is samaller than or equal to 5")
else:
    print("Number is bigger than 5")

Number is bigger than 5

In [14]:
basket = ['apple', 'peach', 'blackberry']
fruit = 'ananas'

if fruit not in basket:
    print("I can have a little ")
else:
    print("I have already")

I can have a little

In [16]:
weight = float(input("Enter Your Weight : "))

if weight > 85:
    print("That is too heav!")
elif weight > 65:
    print("I can lift that!")
else:
    print("That is too light")

Enter Your Weight : 55
That is too light

In [18]:
number = 23
if number >= 10:
    print("The number is equal or greater than 10")
elif number <= 10:
    print("The number is less than 10")

The number is equal or greater than 10

In [19]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [20]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

Enter your score :15
Your degree: below B